Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

Update .gitignore to improve organization and clarity
  .gitignore
Labels: none

Update Makefile to include Python files in line count analysis
  Makefile
Labels: makefile

Update CI workflow to run audit task and refactor audit dependency handling for improved clarity
  .github/workflows/ci.yml
  tools/xtask/src/tasks/audit.rs
Labels: github_actions

Enhance CI workflow by adding Rust warnings check, which is now skipped for draft pull requests to facilitate development without blocking on warnings.
  .github/workflows/ci.yml
Labels: github_actions

Update CI workflow to ignore changes in the .github directory
  .github/workflows/ci.yml
Labels: github_actions

refactor: Replace string IDs with constants for tree view groups
  view/desktop/src/components/Workspace.tsx
  view/desktop/src/hooks/mockData.ts
  view/desktop/src/hooks/useProjectSession.ts
  view/desktop/src/parts/SideBar/Sidebar.tsx
  view/desktop/src/store/activityBar/index.ts
Labels: none

refactor: Simplify App and Workbench components by removing loading state handling
  view/desktop/src/app/index.tsx
  view/desktop/src/components/Workbench.tsx
Labels: none

feat: Introduce SidebarWorkspaceContent component for improved sidebar management
  view/desktop/src/components/SidebarWorkspaceContent.tsx
  view/desktop/src/components/Workspace.tsx
  view/desktop/src/parts/SideBar/Sidebar.tsx
Labels: none

fix: Update SidebarWorkspaceContent props to prepare for future refactor
  view/desktop/src/components/SidebarWorkspaceContent.tsx
Labels: none

feat: Add AI Assistant component to LogsPage
  view/desktop/src/pages/LogsPage.tsx
  view/desktop/src/pages/SettingsPage.tsx
Labels: none

feat: Introduce ActivitybarPartState for enhanced workspace management
  crates/moss-storage/src/storages/workspace_storage/entities/state_store_entities.rs
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/bindings/types.ts
  crates/moss-workspace/bindings/types.zod.ts
  crates/moss-workspace/src/api/describe_state.rs
  crates/moss-workspace/src/api/update_state.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/src/storage/segments.rs
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace__describe_state.rs
  crates/moss-workspace/tests/workspace__update_state.rs
Labels: none

work in progress
  crates/moss-collection/src/api/create_entry.rs
  crates/moss-collection/src/models.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/models/specification.rs
  crates/moss-collection/src/models/types.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/physical_snapshot.rs
  crates/moss-collection/src/worktree/physical_worktree.rs
  crates/moss-collection/src/worktree/virtual_snapshot.rs
  crates/moss-collection/src/worktree/virtual_worktree.rs
  crates/moss-file/src/kdl.rs
  crates/moss-kdl/src/foundations/http.rs
  crates/moss-kdl/src/lib.rs
  crates/moss-kdl/src/spec_file.rs
  crates/moss-kdl/src/spec_models.rs
  crates/moss-kdl/src/spec_models/dir_spec.rs
  crates/moss-kdl/src/spec_models/dir_spec/component.rs
  crates/moss-kdl/src/spec_models/dir_spec/endpoint.rs
  crates/moss-kdl/src/spec_models/dir_spec/request.rs
  crates/moss-kdl/src/spec_models/dir_spec/schema.rs
  crates/moss-kdl/src/spec_models/entry_spec.rs
  crates/moss-kdl/src/spec_models/item_spec.rs
  crates/moss-kdl/src/spec_models/item_spec/component.rs
  crates/moss-kdl/src/spec_models/item_spec/endpoint.rs
  crates/moss-kdl/src/spec_models/item_spec/request.rs
  crates/moss-kdl/src/spec_models/item_spec/schema.rs
  crates/moss-kdl/src/tokens.rs
Labels: none

refactor: Simplify Workspace and TabbedPane components by removing unused workspace state handling
  view/desktop/src/components/Workspace.tsx
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
Labels: none

feat: Enhance workspace state management by integrating app state
  view/desktop/src/hooks/workbench/useOpenWorkspace.ts
  view/desktop/src/hooks/workspace/useDescribeWorkspaceState.ts
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
Labels: none

feat: Initialize empty TabbedPane for new workspaces
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
Labels: none

Update `svg_component_generator.py` to generate ids for each tag in the svg
  assets/icons/plan.json
  assets/icons/plan.lock
  misc/svg_component_generator.py
Labels: none

refactor: Remove unused workspace name handling in useWorkspaceMapping
  view/desktop/src/hooks/workbench/useWorkspaceMapping.ts
Labels: none

feat: Introduce useActiveWorkspace hook for improved workspace management
  view/desktop/src/components/Workbench.tsx
  view/desktop/src/hooks/workspace/index.ts
  view/desktop/src/hooks/workspace/useActiveWorkspace.ts
  view/desktop/src/hooks/workspace/useDescribeWorkspaceState.ts
  view/desktop/src/parts/HeadBar/HeadBar.tsx
  view/desktop/src/parts/HeadBar/HeadBarLeftItems.tsx
  view/desktop/src/parts/HeadBar/HeadBarRightItems.tsx
  view/desktop/src/parts/SideBar/Sidebar.tsx
Labels: none

Remove moss_kdl dependency and related code from various crates
  Cargo.lock
  Cargo.toml
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/api/create_entry.rs
  crates/moss-collection/src/lib.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/models/specification.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/specification.rs
  crates/moss-collection/src/worktree/virtual_worktree.rs
  crates/moss-file/Cargo.toml
  crates/moss-file/src/kdl.rs
  crates/moss-file/src/lib.rs
  crates/moss-file/src/tokens.rs
  crates/moss-kdl/src/tokens.rs
Labels: none

Refactor imports across multiple files
  crates/moss-collection/src/api/delete_entry.rs
  crates/moss-collection/src/api/stream_worktree_entries.rs
  crates/moss-collection/src/api/update_entry.rs
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/models/primitives.rs
  crates/moss-collection/src/worktree/physical_snapshot.rs
  crates/moss-collection/src/worktree/physical_worktree.rs
  crates/moss-collection/src/worktree/virtual_snapshot.rs
  crates/moss-collection/tests/collection_create_entry__dir.rs
  crates/moss-collection/tests/collection_create_entry__request.rs
  crates/moss-collection/tests/collection_delete_entry__dir.rs
  crates/moss-collection/tests/collection_delete_entry__request.rs
  crates/moss-collection/tests/collection_stream_entries_by_prefixes.rs
  crates/moss-collection/tests/collection_update_entry__rename_dir.rs
  crates/moss-collection/tests/collection_update_entry__rename_request.rs
  crates/moss-collection/tests/shared/mod.rs
  crates/moss-file/tests/toml_test.rs
  crates/moss-kdl/Cargo.toml
Labels: none

Consolidate use statements for improved readability
  crates/moss-collection/src/api/delete_entry.rs
  crates/moss-collection/src/api/stream_worktree_entries.rs
  crates/moss-collection/src/api/update_entry.rs
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/kdl/foundations/body.rs
  crates/moss-collection/src/kdl/foundations/http.rs
  crates/moss-collection/src/kdl/parse.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/models/primitives.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/virtual_snapshot.rs
  crates/moss-collection/src/worktree/virtual_worktree.rs
  crates/moss-collection/tests/collection_create_entry__dir.rs
  crates/moss-collection/tests/collection_create_entry__request.rs
  crates/moss-collection/tests/collection_delete_entry__dir.rs
  crates/moss-collection/tests/collection_delete_entry__request.rs
  crates/moss-collection/tests/collection_stream_entries_by_prefixes.rs
  crates/moss-collection/tests/collection_update_entry__rename_dir.rs
  crates/moss-collection/tests/collection_update_entry__rename_request.rs
  crates/moss-collection/tests/shared/mod.rs
  crates/moss-file/tests/toml_test.rs
Labels: none

feat(DataTable, DefaultRow, KitchenSinkPage): implement drag-and-drop functionality for table rows, enhance input handling, and introduce new test data for improved user experience
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/TableBody.tsx
  view/desktop/src/components/TestTanstakTable/testData2.json
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
  view/desktop/src/main.tsx
  view/desktop/src/pages/KitchenSinkPage.tsx
  view/desktop/src/utils/getDnDLocationTarget.ts
  view/desktop/src/utils/getDnDSourceTarget.ts
Labels: none

Commit changes
  crates/moss-collection/src/worktree.rs
Labels: none

feat: add custom confirmation dialog for workspace deletion
  view/desktop/src/components/Modals/ConfirmationModal.tsx
  view/desktop/src/components/index.ts
  view/desktop/src/hooks/workbench/index.ts
  view/desktop/src/hooks/workbench/useDeleteWorkspace.ts
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/parts/HeadBar/HeadBar.tsx
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
Labels: none

Add top-level rename action for active workspace in dropdown menu
  view/desktop/src/components/Modals/Workspace/RenameWorkspaceModal.tsx
  view/desktop/src/hooks/workbench/index.ts
  view/desktop/src/hooks/workbench/useUpdateWorkspace.ts
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/parts/HeadBar/HeadBar.tsx
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
Labels: none

Replace `ts_exports_inject.py` with `tsExportsInjector.ts` and update bindings
  .gitignore
  Makefile
  crates/moss-collection/Cargo.toml
  crates/moss-collection/bindings/events.ts
  crates/moss-collection/bindings/events.zod.ts
  crates/moss-collection/bindings/operations.ts
  crates/moss-collection/bindings/operations.zod.ts
  crates/moss-collection/bindings/types.ts
  crates/moss-collection/bindings/types.zod.ts
  crates/moss-workspace/index.ts
  misc/ts_exports_injector.py
  tools/gen-bindings/package.json
  tools/gen-bindings/tsExportsInjector.ts
Labels: makefile

Enhance workspace state management with Activitybar and Sidebar integration
  .vscode/settings.json
  crates/moss-common/src/lib.rs
  crates/moss-storage/src/storages/workspace_storage/entities/state_store_entities.rs
  crates/moss-workspace/src/lib.rs
  crates/moss-workspace/src/models.rs
  crates/moss-workspace/src/models/primitives.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/src/models/types/editor.rs
  crates/moss-workspace/src/state.rs
  crates/moss-workspace/src/workspace.rs
Labels: none

chore: Update .gitignore to include Windows-specific files created by pre-commit hooks
  .gitignore
Labels: none

Update workspace API to accept a reference for input and enhance related tests
  crates/moss-workbench/src/api/update_workspace.rs
  crates/moss-workbench/tests/workbench__rename_workspace.rs
  view/desktop/bin/src/commands/workbench.rs
Labels: none

Add `update_workspace` command to the run function
  view/desktop/bin/src/lib.rs
Labels: none

Make `tsExportsInjector.ts` sort exports when it finishes injecting exports
  crates/moss-workspace/index.ts
  tools/gen-bindings/tsExportsInjector.ts
Labels: none

Gen bindings util refactoring + docs
  tools/gen-bindings/README.md
  tools/gen-bindings/importsConsolidator.ts
  tools/gen-bindings/importsResolver.ts
  tools/gen-bindings/package.json
  tools/gen-bindings/tsExportsInjector.ts
  tools/gen-bindings/tsconfig.json
  tools/gen-bindings/zodGenerator.ts
Labels: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Enhance RenameWorkspaceModal with text selection handling and backdrop click behavior
  lefthook.yml
  view/desktop/src/components/Modals/Workspace/RenameWorkspaceModal.tsx
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
  view/desktop/src/parts/HeadBar/HeadBarData.tsx
  view/desktop/src/parts/HeadBar/WorkspaceMenuProvider.tsx
Labels: none

Refactoring
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
Labels: none

Add delete action for active workspace in HeadBarActions
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
Labels: none

Refactor CollapsibleActionMenu and useWindowsMenuActions
  view/desktop/src/parts/HeadBar/CollapsibleActionMenu.tsx
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
Labels: none

Refactor HeadBar component layout and action handling
  view/desktop/src/parts/HeadBar/HeadBar.tsx
Labels: none

Update HeadBarCenterItems styles for improved layout consistency.
  view/desktop/src/parts/HeadBar/HeadBarCenterItems.tsx
Labels: none

Introduce `uv`
  misc/css_variables_exporter.py
  moss-script/.python-version
  moss-script/README.md
  moss-script/css_variables_exporter.py
  moss-script/pyproject.toml
  moss-script/svg_component_generator.py
  moss-script/ts_exports_injector.py
  moss-script/uv.lock
Labels: none

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
