Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'

added resizable panels for Sidebar Trees
  view/desktop/src/App.tsx
  view/desktop/src/assets/testTreeData.json
  view/desktop/src/components/Resizable.tsx
  view/desktop/src/components/TestDropTarget.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

Uninstalled pre-commit
  .pre-commit-config.yaml
Labels: none

Added husky pre-commit.
  .github/CODEOWNERS
  .husky/pre-commit
  crates/moss-collection/bindings/operations/collection.ts
  package.json
  pnpm-lock.yaml
Labels: github_actions

Refactoring
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Labels: none

Format all files according to project prettier config
  crates/moss-nls/bindings/operations.ts
  crates/moss-nls/bindings/types.ts
  crates/moss-state/bindings/operations.ts
  crates/moss-state/bindings/types.ts
  crates/moss-theme/bindings/events.ts
  crates/moss-theme/bindings/operations.ts
  crates/moss-theme/bindings/types.ts
  view/desktop/src/App.tsx
  view/desktop/src/components/DropIndicator.tsx
  view/desktop/src/components/Menu/Item.tsx
  view/desktop/src/components/Tabs.tsx
  view/desktop/src/components/Tree/NodeAddForm.tsx
  view/desktop/src/components/Tree/NodeLabel.tsx
  view/desktop/src/components/Tree/NodeRenamingForm.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/hooks/useDraggableNode.ts
  view/desktop/src/components/Tree/hooks/useDropTargetNode.ts
  view/desktop/src/components/Tree/utils.ts
  view/desktop/src/components/index.ts
  view/desktop/src/pages/HomePage.tsx
Labels: none

Configured Vitest
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  vitest.workspace.ts
Labels: none

Vitest configuration
  .github/workflows/ci.yml
  view/desktop/package.json
  vitest.workspace.ts
Labels: github_actions

Refactoring
  .github/workflows/ci.yml
  vitest.workspace.ts
Labels: github_actions

Introduce logging methods to `LoggingService`
  crates/moss-logging/src/lib.rs
Labels: none

minor refactoring
  crates/moss-logging/src/lib.rs
Labels: none

fix dependency
  crates/moss-app/Cargo.toml
  tools/xtask/config.toml
Labels: none

Implement merging app and session logs and querying
  crates/moss-logging/src/lib.rs
Labels: none

minor refactorings
  Makefile
  crates/moss-logging/src/lib.rs
  view/desktop/bin/src/lib.rs
Labels: makefile

remove filter by log_scope
  crates/moss-logging/src/lib.rs
Labels: none

create TS bindings for `list_logs`
  Cargo.lock
  crates/moss-logging/Cargo.toml
  crates/moss-logging/bindings/operations.ts
  crates/moss-logging/bindings/types.ts
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/models.rs
  crates/moss-logging/src/models/operations.rs
  crates/moss-logging/src/models/primitives.rs
  crates/moss-logging/src/models/types.rs
Labels: none

reformat the code
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/models.rs
  crates/moss-logging/src/models/operations.rs
  crates/moss-logging/src/models/primitives.rs
  crates/moss-logging/src/models/types.rs
Labels: none

added root identification for tree structure
  view/desktop/src/App.tsx
  view/desktop/src/assets/index.css
  view/desktop/src/assets/testTreeData.json
  view/desktop/src/components/SidebarExplorer.tsx
  view/desktop/src/components/Tree/Tree.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/hooks/useNodeAddForm.ts
  view/desktop/src/components/Tree/types.ts
  view/desktop/src/components/Tree/utils.ts
  view/desktop/src/components/index.ts
Labels: none

fixed drop into root
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

remove unnecessary API
  crates/moss-logging/src/lib.rs
Labels: none

fix ts bindings and optimize `merge_logs_chronologically`
  crates/moss-logging/bindings/operations.ts
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/models.rs
  crates/moss-logging/src/models/operations.rs
  crates/moss-logging/src/models/primitives.rs
Labels: none

enhance tree node functionality with renaming support and dropdown menu integration
  view/desktop/src/components/Tree/NodeRenamingForm.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

create `moss-logging` TS package
  crates/moss-logging/index.ts
  crates/moss-logging/package.json
  crates/moss-logging/tsconfig.json
  tsconfig.json
Labels: none

node addition and renaming functionality
  view/desktop/src/components/Tree/Tree.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/hooks/useNodeAddForm.ts
Labels: none

rename root node to 'desktop' in testTreeData.json
  view/desktop/src/assets/testTreeData.json
Labels: none

update makefile and pnpm-lock
  Makefile
  pnpm-lock.yaml
Labels: makefile

create `ts_exports_injector.py` to generate exports when making models
  Makefile
  crates/moss-collection/bindings/operations/collection.ts
  crates/moss-collection/bindings/types/request.ts
  crates/moss-collection/index.ts
  crates/moss-collection/package.json
  crates/moss-logging/bindings/operations.ts
  crates/moss-logging/bindings/types.ts
  crates/moss-logging/build.rs
  crates/moss-logging/index.ts
  crates/moss-logging/package.json
  crates/moss-nls/build.rs
  crates/moss-nls/index.ts
  crates/moss-nls/package.json
  crates/moss-state/build.rs
  crates/moss-state/package.json
  crates/moss-theme/build.rs
  crates/moss-theme/package.json
  misc/ts_exports_injector.py
Labels: makefile

VaultStore with generic database client and store traits
  Cargo.lock
  crates/moss-app/Cargo.toml
  crates/moss-app/src/manager.rs
  crates/moss-db/Cargo.toml
  crates/moss-db/src/redb.rs
  crates/moss-nls/Cargo.toml
  crates/moss-nls/src/locale_service.rs
  crates/moss-vault/src/storage/vault_store.rs
  view/desktop/bin/src/lib.rs
Labels: none

refactor: Restructure database storage with separate modules for bincode and encrypted bincode stores
  crates/moss-app/src/manager.rs
  crates/moss-db/src/bincode_store.rs
  crates/moss-db/src/bincode_table.rs
  crates/moss-db/src/encrypted_bincode_store.rs
  crates/moss-db/src/encrypted_bincode_table.rs
  crates/moss-db/src/lib.rs
  crates/moss-db/src/redb.rs
Labels: none

Implement VaultService with encrypted storage and create vault item functionality
  Cargo.lock
  crates/moss-db/src/bincode_store.rs
  crates/moss-db/src/bincode_table.rs
  crates/moss-db/src/encrypted_bincode_store.rs
  crates/moss-db/src/encrypted_bincode_table.rs
  crates/moss-db/src/lib.rs
  crates/moss-db/src/redb.rs
  crates/moss-nls/src/locale_service.rs
  crates/moss-vault/Cargo.toml
  crates/moss-vault/src/lib.rs
  crates/moss-vault/src/models.rs
  crates/moss-vault/src/models/operations.rs
  crates/moss-vault/src/models/storage.rs
  crates/moss-vault/src/models/types.rs
  crates/moss-vault/src/storage.rs
  crates/moss-vault/src/vault_service.rs
Labels: none

implement parsing JSON request body and various refactors
  crates/moss-collection/src/collection_handle.rs
  crates/moss-collection/src/collection_manager.rs
  crates/moss-collection/src/kdl.rs
  crates/moss-collection/src/kdl/foundations/body.rs
  crates/moss-collection/src/kdl/foundations/http.rs
  crates/moss-collection/src/kdl/foundations/mod.rs
  crates/moss-collection/src/kdl/parse.rs
  crates/moss-collection/src/kdl/tokens.rs
  crates/moss-collection/src/models/collection.rs
  crates/moss-collection/src/models/operations/collection_operations.rs
  crates/moss-collection/src/models/types/request_types.rs
  crates/moss-collection/src/storage.rs
  crates/moss-collection/tests/TestCollection/requests/MyFolder/Test6.request/Test6.get.sapic
  package.json
Labels: none

optimize `ts_exports_injector.py`
  misc/ts_exports_injector.py
Labels: none

implement basic unit tests for every parsing method
  .gitignore
  crates/moss-collection/bindings/operations/collection.ts
  crates/moss-collection/bindings/types/request.ts
  crates/moss-collection/src/collection_handle.rs
  crates/moss-collection/src/collection_manager.rs
  crates/moss-collection/src/kdl/foundations/http.rs
  crates/moss-collection/src/kdl/parse.rs
  crates/moss-collection/src/models/operations/collection_operations.rs
  crates/moss-collection/src/models/types/request_types.rs
Labels: none

refactor tree structure and enhance drag-and-drop functionality with collection support
  view/desktop/src/assets/testTreeData2.json
  view/desktop/src/assets/testTreeData3.json
  view/desktop/src/components/SidebarExplorer.tsx
  view/desktop/src/components/Tree/Tree.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/hooks/useDraggableNode.ts
  view/desktop/src/components/Tree/hooks/useDraggableRootNode.ts
  view/desktop/src/components/Tree/hooks/useDropTargetNode.ts
  view/desktop/src/components/Tree/types.ts
  view/desktop/src/main.tsx
  view/desktop/src/utils/swapListById.ts
Labels: none

Remove moss_db dependencies and related code
  Cargo.lock
  crates/moss-app/Cargo.toml
  crates/moss-app/src/manager.rs
  crates/moss-db/src/encrypted_bincode_store.rs
  crates/moss-db/src/encrypted_bincode_table.rs
  crates/moss-nls/Cargo.toml
  crates/moss-nls/src/locale_service.rs
  crates/moss-vault/src/lib.rs
  crates/moss-vault/src/storage.rs
  view/desktop/bin/src/lib.rs
Labels: none

Clean up unused imports and improve single instance plugin initialization
  view/desktop/bin/src/lib.rs
Labels: none

fix makefile
  Makefile
Labels: makefile

fix: prevent rendering child nodes while dragging the root node
  view/desktop/src/components/SidebarExplorer.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

Update cryptography dependencies to latest versions
  Cargo.lock
  Cargo.toml
  crates/moss-db/Cargo.toml
Labels: none

Reorder export statements in index files
  crates/moss-collection/index.ts
  crates/moss-theme/index.ts
Labels: none

Cleanup
  Cargo.toml
  crates/moss-db/Cargo.toml
  crates/moss-db/src/encrypted_bincode_table.rs
Labels: none
