Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

refactor: update PageTabs and TabbedPane components for improved icon handling and styling
  view/desktop/src/components/PageView/PageTabs.tsx
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
Labels: none

refactor: simplify PageHeader and PageView components by removing unnecessary dark mode styles
  view/desktop/src/components/PageView/PageHeader.tsx
  view/desktop/src/components/PageView/PageView.tsx
Labels: none

refactor: update PageHeader, PageTabs, and PageView components with improved styling using CSS variables
  view/desktop/src/components/PageView/PageHeader.tsx
  view/desktop/src/components/PageView/PageTabs.tsx
  view/desktop/src/components/PageView/PageView.tsx
Labels: none

refactor: simplify Breadcrumbs component by removing unnecessary padding
  view/desktop/src/components/Breadcrumbs/Breadcrumbs.tsx
Labels: none

feat: add KitchensinkPage component and update navigation to include it
  view/desktop/src/pages/KitchensinkPage.tsx
  view/desktop/src/pages/index.ts
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
  view/desktop/src/parts/HeadBar/HeadBarData.tsx
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
  view/desktop/src/parts/TabbedPane/defaultLayout.ts
Labels: none

refactor: update PageToolbar and TabbedPane components for improved layout and functionality
  view/desktop/src/components/PageView/PageToolbar.tsx
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
Labels: none

Add expand_entry functionality and related structures to Worktree module
  crates/moss-collection/src/api.rs
  crates/moss-collection/src/api/expand_entry.rs
  crates/moss-collection/src/api/stream_worktree_entries.rs
  crates/moss-collection/src/lib.rs
  crates/moss-collection/src/models/events.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/models/primitives.rs
  crates/moss-collection/src/models/types.rs
  crates/moss-collection/src/storage.rs
  crates/moss-collection/src/storage/entities.rs
  crates/moss-collection/src/storage/segments.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/snapshot.rs
  crates/moss-collection/src/worktree/walker.rs
  crates/moss-storage/src/storages.rs
  crates/moss-storage/src/storages/collection_storage.rs
  crates/moss-storage/src/storages/collection_storage/stores.rs
  crates/moss-storage/src/storages/collection_storage/stores/mixed_store.rs
Labels: none

refactor: adjust padding in PageHeader and update hover background in PageTabs for improved styling
  view/desktop/src/components/PageView/PageHeader.tsx
  view/desktop/src/components/PageView/PageTabs.tsx
Labels: none

Fix log filtering logic and introduce a test for `LoggingService::list_logs`
  crates/moss-logging/src/api/list_logs.rs
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/models/types.rs
Labels: none

refactor: update TabbedPane component to allow optional titles in page configurations and simplify full-page component handling
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
Labels: none

Implement basic integration tests for `LoggingService`
  crates/moss-logging/src/lib.rs
  crates/moss-logging/tests/loggingservice_delete_log.rs
  crates/moss-logging/tests/loggingservice_delete_logs.rs
  crates/moss-logging/tests/loggingservice_list_logs.rs
  crates/moss-logging/tests/shared/mod.rs
Labels: none

feat(KitchenSinkPage): create KitchenSinkPage component and update exports for improved structure
  view/desktop/src/pages/KitchenSinkPage/KitchenSinkPage.tsx
  view/desktop/src/pages/KitchenSinkPage/KitchenSinkSection.tsx
  view/desktop/src/pages/index.ts
Labels: none

Refactor Worktree initialization and entry loading logic
  crates/moss-collection/src/api/expand_entry.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/worktree.rs
Labels: none

fix(DefaultRow): update background class for drag handle to ensure consistent styling
  view/desktop/src/components/Table/ui/DefaultRow.tsx
Labels: none

Archiving obsolete tests
  crates/moss-collection/obsolete/collection_create_entry__dir.rs
  crates/moss-collection/obsolete/collection_create_entry__request.rs
  crates/moss-collection/obsolete/collection_delete_entry__dir.rs
  crates/moss-collection/obsolete/collection_delete_entry__request.rs
  crates/moss-collection/obsolete/collection_list_environments.rs
  crates/moss-collection/obsolete/collection_stream_entries_by_prefixes.rs
  crates/moss-collection/obsolete/collection_update_entry__rename_dir.rs
  crates/moss-collection/obsolete/collection_update_entry__rename_request.rs
Labels: none

Make path related tests work on Windows
  crates/moss-collection/src/worktree.rs
Labels: none

Fix `Worktree::move_entry` to load the children of the destination
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/snapshot.rs
Labels: none

Add checking for duplicate name in `Worktree::move_entry`
  crates/moss-collection/src/worktree.rs
Labels: none

Update the variable name and comment in `Worktree::remove_entry`
  crates/moss-collection/src/worktree.rs
Labels: none

refactor: simplify ESLint configuration by directly exporting default config and ensure consistent formatting in config files
  packages/config-eslint/configs/default.js
  packages/config-eslint/eslint.config.js
  view/desktop/package.json
Labels: none

Implement `Collection::create_entry` and `Collection::delete_entry`
  crates/moss-collection/src/api.rs
  crates/moss-collection/src/api/create_entry.rs
  crates/moss-collection/src/api/delete_entry.rs
  crates/moss-collection/src/api/stream_worktree_entries.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/models/primitives.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/tests/collection_create_entry.rs
  crates/moss-collection/tests/collection_delete_entry.rs
  crates/moss-collection/tests/shared/mod.rs
Labels: none

Remove `abs_path` from `UnloadedEntry`
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/snapshot.rs
Labels: none

Fix the logic of `Worktree::move_entry` in handling children
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/snapshot.rs
  crates/moss-file/src/toml.rs
Labels: none

add Context module for global resource management and integrate rustc-hash for efficient storage; update dependencies in moss-fs and moss-app
  Cargo.lock
  Cargo.toml
  crates/moss-app/Cargo.toml
  crates/moss-app/src/context.rs
  crates/moss-app/src/lib.rs
  crates/moss-fs/Cargo.toml
  crates/moss-fs/src/lib.rs
  crates/moss-fs/src/real.rs
Labels: none

chore: update ESLint configuration and dependencies to improve code quality and maintainability
  packages/config-eslint/configs/default.js
  packages/config-eslint/eslint.config.js
  packages/config-eslint/package.json
  pnpm-lock.yaml
  view/desktop/eslint.config.js
Labels: none

refactor: streamline ESLint configuration by removing unnecessary export and correcting file patterns; fix typo in WelcomePage component
  packages/config-eslint/configs/default.js
  view/desktop/eslint.config.js
  view/desktop/src/pages/WelcomePage/WelcomePage.tsx
Labels: none

fix: format exported css variables with prettier
  Makefile
Labels: makefile

refactor: update styling syntax across components to use consistent background class format and fix minor typos in various files
  view/desktop/src/components/ActionMenu/Footer.tsx
  view/desktop/src/components/IconLabelButton.tsx
  view/desktop/src/components/PageView/PageTabs.tsx
  view/desktop/src/components/SelectOutlined.tsx
  view/desktop/src/components/Table/DataTable.tsx
  view/desktop/src/components/ToggleGroup.tsx
  view/desktop/src/components/Tree/Tree.tsx
  view/desktop/src/layouts/RootLayout.tsx
  view/desktop/src/lib/ui/DropIndicator.tsx
  view/desktop/src/lib/ui/Menu/Label.tsx
  view/desktop/src/lib/ui/Menu/Menu.tsx
  view/desktop/src/pages/WelcomePage/WelcomePage.tsx
  view/desktop/src/parts/HeadBar/HeadBarCenterItems.tsx
  view/desktop/src/parts/HeadBar/HeadBarLeftItems.tsx
Labels: none

fixed ts errors for langchain/ollama
  view/desktop/src/ai/LangchainAgent.tsx
Labels: none

fix(PageTabs): correct TypeScript type for cloned button elements to ensure proper type checking
  view/desktop/src/components/PageView/PageTabs.tsx
Labels: none

removed some warnings
  view/desktop/src/components/PageLoader.tsx
  view/desktop/src/components/SelectOutlined.tsx
  view/desktop/src/components/Table/DataTable.tsx
  view/desktop/src/components/Table/hooks/useAdjustColumnsWithoutSizes.ts
  view/desktop/src/components/Table/hooks/useTableDragAndDrop.ts
  view/desktop/src/components/Table/ui/DefaultRowForm.tsx
  view/desktop/src/components/Table/ui/NoDataRow.tsx
  view/desktop/src/components/Tree/Tree.tsx
  view/desktop/src/components/Tree/hooks/useCreateNewCollectionFromTreeNodeEvent.ts
  view/desktop/src/components/Tree/hooks/useMoveTreeNodeEvent.ts
  view/desktop/src/context/ActivityEventsContext.tsx
  view/desktop/src/parts/TabbedPane/hooks/useDockviewDropTarget.ts
Labels: none

removed some warnings
  view/desktop/src/components/IconLabelButton.tsx
  view/desktop/src/parts/TabbedPane/DebugComponents/debugPanel.tsx
Labels: none

refactor
  view/desktop/eslint.config.js
Labels: none

Extract the `move_entry` logic from `Snapshot` to `Worktree`
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/snapshot.rs
Labels: none

got it working
  packages/config-eslint/index.d.ts
  packages/config-eslint/index.js
  packages/config-eslint/package.json
  view/desktop/eslint.config.js
  view/desktop/package.json
Labels: none

got it working
  packages/config-eslint/eslint-types.d.ts
  packages/config-eslint/index.d.ts
Labels: none

refactor
  packages/config-eslint/eslint-types.d.ts
Labels: none

chore: update dependencies in ESLint configuration and package files; streamline Makefile for desktop installation
  .github/workflows/ci.yml
  Makefile
  packages/config-eslint/package.json
  pnpm-lock.yaml
  view/desktop/eslint.config.js
Labels: github_actions, makefile

chore
  .github/workflows/ci.yml
  view/desktop/eslint.config.js
Labels: github_actions

chore
  .github/workflows/ci.yml
Labels: github_actions

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
