Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

feat(HeadBar): Conditionally render HeadBarCenterItems based on selected workspace
  view/desktop/src/parts/HeadBar/HeadBar.tsx
Labels: none

feat(HeadBar): Add workspace selection functionality and new ActionMenuOpen icon
  tools/icongen/assets/ActionMenuOpen.svg
  view/desktop/src/parts/HeadBar/HeadBar.tsx
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
  view/desktop/src/parts/HeadBar/HeadBarData.tsx
  view/desktop/src/parts/HeadBar/HeadBarLeftItems.tsx
Labels: none

feat(HeadBar): Extract "All Workspaces" menu section for improved organization and reusability
  view/desktop/src/parts/HeadBar/HeadBarData.tsx
Labels: none

fix(ActionMenu): Update label styles to ensure proper text truncation and prevent overflow
  view/desktop/src/components/ActionMenu/ActionMenu.tsx
Labels: none

fix(IconAssets): Update ChevronRight icon SVG and adjust ActionMenu icon size for consistency
  tools/icongen/assets/ChevronRight.svg
  view/desktop/src/components/ActionMenu/ActionMenu.tsx
  view/desktop/src/parts/HeadBar/Controls/Controls.tsx
  view/desktop/src/parts/HeadBar/HeadBar.tsx
Labels: none

remove icons from the plan during `plan` command if no longer exist
  misc/svg_component_generator.py
Labels: none

remove old build artifacts when building icons
  misc/svg_component_generator.py
Labels: none

Integrate tokio-stream for asynchronous entry streaming and refactor list_entries_by_prefixes to stream_entries_by_prefixes
  Cargo.lock
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/collection/api/list_units.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/tests/integration__collection__list_units.rs
  crates/moss-common/src/api.rs
Labels: none

Remove unused QuickFix icon SVG files for dark and light themes
  misc/test_icons/QuickFix/dark.svg
  misc/test_icons/QuickFix/light.svg
Labels: none

fix window flickering on startup by only showing the window after the webview is ready
  view/desktop/bin/src/window.rs
  view/desktop/src/main.tsx
Labels: none

Remove deprecated list_units API and associated integration tests; add placeholder for new stream_collection_entries_by_prefixes command
  crates/moss-collection/src/collection/api/stream_entries_by_prefixes.rs
  crates/moss-collection/tests/integration__collection__stream_entries_by_prefixes.rs
  view/desktop/bin/src/commands/collection.rs
Labels: none

remove native titlebar/controls on windows
  view/desktop/bin/src/window.rs
Labels: none

feat(HeadBar): Refactor HeadBar component to utilize WorkspaceMenuProvider for dynamic workspace management and enhance action handling
  view/desktop/src/parts/HeadBar/HeadBar.tsx
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
  view/desktop/src/parts/HeadBar/HeadBarData.tsx
  view/desktop/src/parts/HeadBar/HeadBarLeftItems.tsx
  view/desktop/src/parts/HeadBar/WorkspaceMenuProvider.tsx
  view/desktop/src/store/tabbedPane/index.ts
Labels: none

feat(HeadBar): Integrate workspace modals for creating and opening workspaces, enhancing user interaction
  view/desktop/src/parts/HeadBar/HeadBar.tsx
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
Labels: none

Replace list_units module with stream_entries_by_prefixes for improved entry streaming
  crates/moss-collection/src/collection/api.rs
Labels: none

Introduce StreamEntriesByPrefixesInput and StreamEntriesByPrefixesEvent types, replacing ListUnitsInput and ListEntriesEvent in the collection API for enhanced streaming functionality.
  crates/moss-collection/bindings/operations.ts
  crates/moss-collection/bindings/types.ts
  crates/moss-collection/src/collection/api/stream_entries_by_prefixes.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/tests/integration__collection__stream_entries_by_prefixes.rs
  crates/moss-workspace/src/workspace_manager/api/rename_workspace.rs
Labels: none

remove unused code and comment out test function for future implementation
  crates/moss-collection/tests/integration__collection__stream_entries_by_prefixes.rs
Labels: none

Refactor test setup
  crates/moss-collection/tests/shared/mod.rs
Labels: none

remove `width` and `height` from generated icon components
  misc/svg_component_generator.py
Labels: none

refactor(Icons): Update icon references in activity bar and replace deprecated icons with new FolderActive icons
  Makefile
  view/desktop/src/assets/icons/svg/FolderActive/dark.svg
  view/desktop/src/assets/icons/svg/FolderActive/light.svg
  view/desktop/src/assets/icons/svg/FolderOutlined/dark.svg
  view/desktop/src/assets/icons/svg/FolderOutlined/light.svg
  view/desktop/src/assets/icons/svg/FolderOutlinedActive/dark.svg
  view/desktop/src/assets/icons/svg/FolderOutlinedActive/light.svg
  view/desktop/src/assets/icons/svg/plan.json
  view/desktop/src/assets/icons/svg/plan.lock
  view/desktop/src/store/activityBar/index.ts
Labels: makefile

minor fix
  misc/svg_component_generator.py
Labels: none

convert svg attribute names to camelCase in generated components
  misc/svg_component_generator.py
Labels: none

feat(HomePage): Integrate icon display section and update imports for improved UI
  view/desktop/src/pages/HomePage.tsx
Labels: none

fix(StatusBar): Update online/offline icons and adjust icon size for better UI consistency
  view/desktop/src/parts/StatusBar/StatusBar.tsx
Labels: none

delete unused SVG icon files and associated JSON configuration for cleanup
  assets/icons/svg/QuickFix/dark.svg
  assets/icons/svg/QuickFix/light.svg
  assets/icons/svg/__TestDifferentSvgStructure/dark.svg
  assets/icons/svg/__TestDifferentSvgStructure/light.svg
  assets/icons/svg/__TestMissingVariant/light.svg
  assets/icons/svg/plan.json
  assets/icons/svg/plan.lock
Labels: none

fix(HeadBar): Update icon reference from 'HeadBarUserAvatar' to 'UserAvatar' and adjust imports for consistency
  view/desktop/src/parts/HeadBar/mockHeadBarData.tsx
Labels: none

remove `height` and `width` attribute only from the svg root element
  misc/svg_component_generator.py
Labels: none

Update loc target in Makefile to include .tsx files for comprehensive line count analysis
  Makefile
Labels: makefile

Introduce StateStore and WorktreeEntryEntity for enhanced state management in collection storage
  crates/moss-storage/src/collection_storage.rs
  crates/moss-storage/src/collection_storage/entities.rs
  crates/moss-storage/src/collection_storage/entities/state_store_entries.rs
  crates/moss-storage/src/collection_storage/state_store.rs
  crates/moss-storage/src/lib.rs
  crates/moss-storage/src/workspace_storage/state_store.rs
Labels: none

Implement scan_by_prefix method in BincodeTable for prefix-based key retrieval
  crates/moss-db/src/bincode_table.rs
  crates/moss-db/src/common.rs
  crates/moss-db/tests/integration__bincode_table__read.rs
  crates/moss-db/tests/integration__bincode_table__scan.rs
  crates/moss-db/tests/integration__bincode_table__scan_by_prefix.rs
  crates/moss-db/tests/integration__encrypted_bincode_table__read.rs
Labels: none

Refactor worktree.rs for improved path handling and entry management
  .vscode/settings.json
  crates/moss-collection/src/collection/api.rs
  crates/moss-collection/src/collection/api/create_request_entry.rs
  crates/moss-collection/src/collection/api/stream_entries_by_prefixes.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-fs/src/lib.rs
Labels: none

Remove 'ErrorNaughtyDog' SVG assets and update references in the ViewContainer component to streamline icon usage and improve project organization.
  view/desktop/src/assets/icons/svg/ErrorNaughtyDog/dark.svg
  view/desktop/src/assets/icons/svg/ErrorNaughtyDog/light.svg
  view/desktop/src/assets/icons/svg/plan.json
  view/desktop/src/assets/icons/svg/plan.lock
  view/desktop/src/assets/images/ErrorNaughtyDog.svg
  view/desktop/src/components/ViewContainer.tsx
Labels: none

various fixes
  misc/svg_component_generator.py
Labels: none

only translate raw color to numbered palette color
  misc/svg_component_generator.py
Labels: none

fix ci missing dependency
  .github/workflows/ci.yml
Labels: github_actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github_actions

Update SVG icons for improved color consistency and remove unused assets
  assets/icons/ChevronDownHovered/light.svg
  assets/icons/CloseSmallHovered/light.svg
  assets/icons/Console/dark.svg
  assets/icons/ConsoleActive/dark.svg
  assets/icons/Folder/dark.svg
  assets/icons/Folder/light.svg
  view/desktop/src/assets/icons/Bell.tsx
  view/desktop/src/assets/icons/ChevronDownHovered.tsx
  view/desktop/src/assets/icons/CloseSmallHovered.tsx
  view/desktop/src/assets/icons/Console.tsx
  view/desktop/src/assets/icons/ConsoleActive.tsx
  view/desktop/src/assets/icons/Error.tsx
  view/desktop/src/assets/icons/Failed.tsx
  view/desktop/src/assets/icons/Folder.tsx
  view/desktop/src/assets/icons/FolderActive.tsx
  view/desktop/src/assets/icons/PersistenceRelationship.tsx
  view/desktop/src/assets/icons/Send.tsx
  view/desktop/src/assets/icons/UnloadedModule.tsx
  view/desktop/src/assets/icons/UserAvatar.tsx
Labels: none

Update SVG icons and styles for improved consistency and new additions
  assets/themes/light.css
  view/desktop/src/assets/icons/AddCircleActive.tsx
  view/desktop/src/assets/icons/CheckboxIndicator.tsx
  view/desktop/src/assets/icons/ExternalLinkActive.tsx
  view/desktop/src/assets/icons/Failed.tsx
  view/desktop/src/assets/icons/FolderActive.tsx
  view/desktop/src/assets/icons/Info.tsx
  view/desktop/src/assets/icons/NewWorkspaceActive.tsx
  view/desktop/src/assets/icons/OpenWorkspaceActive.tsx
  view/desktop/src/assets/icons/PersistenceRelationship.tsx
  view/desktop/src/assets/icons/RadioIndicator.tsx
  view/desktop/src/assets/icons/Success.tsx
  view/desktop/src/assets/icons/UnloadedModule.tsx
  view/desktop/src/assets/icons/WebServerActive.tsx
Labels: none

Update UnloadedModule icon color and adjust theme variables for consistency
  assets/icons/UnloadedModule/light.svg
  assets/themes/light.css
Labels: none

Update SVG icons for improved consistency and new additions
  assets/icons/Error/dark.svg
  assets/icons/Folder/dark.svg
  assets/icons/PersistenceRelationship/light.svg
  assets/icons/Warning/light.svg
  assets/themes/light.css
  view/desktop/src/assets/icons/Error.tsx
  view/desktop/src/assets/icons/Folder.tsx
  view/desktop/src/assets/icons/Warning.tsx
Labels: none

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
