Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

style: Refactor CollectionTreeView and CollectionCreationZone for improved layout and styling consistency
  view/desktop/src/components/CollectionTreeView.tsx
Labels: none

refactor: Update ViewContainer component type definition and simplify Sidebar layout by removing unnecessary Scrollbar wrapper
  view/desktop/src/components/ViewContainer.tsx
  view/desktop/src/parts/SideBar/Sidebar.tsx
Labels: none

style: Refactor CollectionTreeView layout for improved structure and consistency; simplify Sidebar component by removing unnecessary wrapper
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/parts/SideBar/Sidebar.tsx
Labels: none

rolled back pragmatic dnd version
  package.json
  pnpm-lock.yaml
Labels: none

Refactor request indexing logic
  crates/moss-collection/src/indexer.rs
Labels: none

style: Adjust NodeRenamingForm input width for better alignment and consistency
  view/desktop/src/components/Tree/NodeRenamingForm.tsx
Labels: none

fix: Remove unnecessary "Item" context menu option from TreeNode component
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

style: Add outline-offset to NodeRenamingForm input for improved visual clarity
  view/desktop/src/components/Tree/NodeRenamingForm.tsx
Labels: none

style: Update SidebarHeader layout for improved text display and alignment
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

Refactor file extension handling in collection module to use CollectionEntryFilename, improving clarity and consistency across request processing functions
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/collection/api/create_request.rs
  crates/moss-collection/src/collection/api/rename_request.rs
  crates/moss-collection/src/collection/primitives.rs
  crates/moss-collection/src/collection/utils.rs
  crates/moss-collection/src/indexer.rs
Labels: none

style: Enhance ActivityBarButton styling with background and padding adjustments in portal rendering
  view/desktop/src/components/ActivityBar.tsx
Labels: none

Refactor collection module to remove unused primitives and utils files, and update request file extension constants for consistency across the codebase
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/collection/api/create_request.rs
  crates/moss-collection/src/collection/primitives.rs
  crates/moss-collection/src/collection/utils.rs
  crates/moss-collection/src/constants.rs
  crates/moss-collection/src/indexer.rs
Labels: none

refactor: Simplify tree collapse/expand logic and remove unused expandAll function from SidebarHeader
  view/desktop/src/components/Tree/utils.ts
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
  view/desktop/src/store/collections/index.ts
Labels: none

style: Add focus outline styles to Input component for improved accessibility and visual feedback
  view/desktop/src/components/Input.tsx
Labels: none

update eslint css variables
  packages/config-eslint/moss-lint-plugin/css_variables.json
Labels: none

chore: Remove react-router-dom dependency from package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: none

make `css_variables_exporter` case sensitive
  misc/css_variables_exporter.py
  packages/config-eslint/moss-lint-plugin/css_variables.json
Labels: none

add `requirements.txt` to python script folder and update `make ready` to install dependencies
  Makefile
  misc/requirements.txt
Labels: makefile

Update Makefile
  Makefile
Labels: makefile

Refactor collection and workspace modules to integrate IndexerHandle, enhancing job management and improving code clarity
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/indexer.rs
  crates/moss-collection/src/kdl/foundations/body.rs
  crates/moss-collection/tests/shared/mod.rs
  crates/moss-workbench/bindings/types.ts
  crates/moss-workbench/src/activity_indicator.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/src/workspace/api/create_collection.rs
  crates/moss-workspace/src/workspace/api/delete_collection.rs
  crates/moss-workspace/src/workspace/api/describe_environment.rs
  crates/moss-workspace/src/workspace/api/describe_workspace.rs
  crates/moss-workspace/src/workspace/api/open_collection.rs
  crates/moss-workspace/src/workspace/api/rename_collection.rs
  crates/moss-workspace/src/workspace_manager.rs
  crates/moss-workspace/tests/shared/mod.rs
  view/desktop/bin/src/commands/collection.rs
Labels: none

Add test case for invalid case sensitive selector in only-valid-token-names rule
  packages/config-eslint/moss-lint-plugin/rules/only-valid-token-names.test.js
Labels: none

removed react scan to see if tests will fail without it
  pnpm-lock.yaml
  view/desktop/package.json
Labels: none

refactor: Remove react-scan import and related configuration
  view/desktop/src/main.tsx
Labels: none

refactor: Simplify sidebar visibility logic in AppLayout component
  view/desktop/src/layouts/AppLayout.tsx
Labels: none

Attempt to fix
  .github/workflows/ci.yml
Labels: github_actions

.
  package.json
  pnpm-lock.yaml
Labels: none

minor refactors
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/collection/api/create_request.rs
  crates/moss-collection/src/collection/api/delete_request.rs
  crates/moss-collection/src/collection/api/rename_request.rs
  crates/moss-collection/src/storage/state_db_manager.rs
Labels: none

added toggling of sidebar on activity bar
  view/desktop/src/components/ActivityBar.tsx
Labels: none

disabled sidebar toggle when it's on tom, bottom or hidden
  view/desktop/src/components/ActivityBar.tsx
Labels: none

use ArcSwap to make `StateDbManager::reset()` require only immutable reference
  Cargo.lock
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/storage.rs
  crates/moss-collection/src/storage/state_db_manager.rs
Labels: none

added SideBar edge handler
  view/desktop/src/components/ViewContainer.tsx
  view/desktop/src/layouts/AppLayout.tsx
Labels: none

when opening sidebar it now tries to open last active view
  view/desktop/src/components/ActivityBar.tsx
  view/desktop/src/layouts/AppLayout.tsx
Labels: none

when opening sidebar it now tries to open last active view
  view/desktop/src/components/ActivityBar.tsx
  view/desktop/src/layouts/AppLayout.tsx
Labels: none

fix cannot open tab from activity bar
  view/desktop/src/components/ActivityBar.tsx
Labels: none

chore
  view/desktop/src/layouts/AppLayout.tsx
Labels: none

update `create_request` integration tests to check the folder and spec files are correctly created
  crates/moss-collection/bindings/types.ts
  crates/moss-collection/src/collection/api/create_request.rs
  crates/moss-collection/src/collection/api/list_requests.rs
  crates/moss-collection/src/models/types.rs
  crates/moss-collection/tests/integration__collection__create_request.rs
  crates/moss-collection/tests/integration__collection__rename_request.rs
Labels: none

Makefile fix, update pip command for Windows and Unix environments, adding --break-system-packages option for dependency installation
  Makefile
Labels: makefile

implement test cases for deleting and renaming requests in subfolders
  crates/moss-collection/tests/integration__collection__delete_request.rs
  crates/moss-collection/tests/integration__collection__rename_request.rs
Labels: none

Adjust ReDbClient to use ArcSwap for database management
  Cargo.lock
  crates/moss-collection/src/collection.rs
  crates/moss-db/Cargo.toml
  crates/moss-db/src/lib.rs
Labels: none

reduced console output when generating icons
  Makefile
Labels: makefile

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
