Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

refactor ActivityBar
  view/desktop/src/parts/ActivityBar/ActivityBar.tsx
  view/desktop/src/parts/ActivityBar/VerticalActivityBar.tsx
Labels: none

Activitybar styles refactoring
  view/desktop/src/parts/ActivityBar/ActivityBar.tsx
Labels: none

Activitybar styles refactoring
  view/desktop/src/parts/ActivityBar/ActivityBar.tsx
Labels: none

refactoring of CollectionTreeView styles
  view/desktop/src/components/CollectionTreeView.tsx
Labels: none

refactoring of CollectionTreeView styles
  tools/icongen/assets/Plus.svg
  tools/icongen/assets/PlusCircle.svg
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/components/Tree/TreeRootNode.tsx
Labels: none

refactor SidebarEdgeHandler styles to use new CSS variable syntax
  view/desktop/src/parts/SideBar/SidebarEdgeHandler.tsx
Labels: none

refactor Tree component styles to use updated CSS variable names
  view/desktop/src/components/Tree/TreeRootNode.tsx
  view/desktop/src/components/Tree/hooks/useDropTargetNode.ts
Labels: none

refactor TreeNode styles to utilize updated CSS variable names
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

refactor moss-tabs styles to include border properties and updated CSS variable syntax
  view/desktop/src/lib/moss-tabs/assets/styles.css
Labels: none

refactor menu component styles to use updated CSS variable names and improve hover effects
  assets/themes/light.css
  view/desktop/src/components/Menu/CheckboxItem.tsx
  view/desktop/src/components/Menu/Content.tsx
  view/desktop/src/components/Menu/Item.tsx
  view/desktop/src/components/Menu/Radio.tsx
  view/desktop/src/components/Menu/Separator.tsx
  view/desktop/src/components/Menu/SubMenu.tsx
  view/desktop/src/layouts/AppLayout.tsx
Labels: none

refactor Button component to remove 'warning' and 'success' intents, updating styles to use only 'primary', 'danger', and 'neutral'
  view/desktop/src/components/Button.tsx
Labels: none

refactor CollectionTreeView component by removing commented-out code and updating Input styles to use new CSS variable syntax for error states
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/components/Input.tsx
Labels: none

refactor theme styles to standardize CSS variable usage, improve color definitions, and enhance input component styles
  assets/themes/dark.css
  assets/themes/light.css
  assets/themes/vscode.css
  view/desktop/src/components/Input.tsx
  view/desktop/src/parts/BottomPane/BottomPane.tsx
  view/desktop/src/parts/HeadBar/HeadBar.tsx
Labels: none

refactor theme styles to update SVG icon colors and improve CSS variable usage in HeadBar component
  assets/themes/dark.css
  assets/themes/light.css
  assets/themes/vscode.css
  tools/icongen/assets/HeadBarCookies.svg
  tools/icongen/assets/HeadBarLeftSideBar.svg
  tools/icongen/assets/HeadBarLeftSideBarActive.svg
  tools/icongen/assets/HeadBarPanel.svg
  tools/icongen/assets/HeadBarPanelActive.svg
  tools/icongen/assets/HeadBarRightSideBar.svg
  tools/icongen/assets/HeadBarRightSideBarActive.svg
  tools/icongen/assets/HeadBarVault.svg
  view/desktop/src/parts/HeadBar/HeadBar.tsx
Labels: none

refactor theme styles to update CSS variable names for backgrounds and hover effects across multiple components
  assets/themes/dark.css
  assets/themes/light.css
  assets/themes/vscode.css
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/components/Menu/CheckboxItem.tsx
  view/desktop/src/components/Menu/Content.tsx
  view/desktop/src/components/Menu/Item.tsx
  view/desktop/src/components/Menu/Radio.tsx
  view/desktop/src/components/Menu/SubMenu.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/TreeRootNode.tsx
  view/desktop/src/components/Tree/hooks/useDropTargetNode.ts
  view/desktop/src/parts/ActivityBar/ActivityBar.tsx
  view/desktop/src/parts/BottomPane/BottomPane.tsx
  view/desktop/src/parts/HeadBar/HeadBar.tsx
  view/desktop/src/parts/SideBar/Sidebar.tsx
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

fix Windows Close button doesn't paint itself red on hover
  view/desktop/src/parts/HeadBar/Controls/WindowsControls.tsx
Labels: none

Refactor moss-collection bindings by consolidating operation exports, removing obsolete files, and updating type exports for improved organization and clarity
  crates/moss-collection/bindings/collection.ts
  crates/moss-collection/bindings/operations.ts
  crates/moss-collection/bindings/operations/collection.ts
  crates/moss-collection/bindings/operations/parse.ts
  crates/moss-collection/bindings/types.ts
  crates/moss-collection/index.ts
  crates/moss-collection/package.json
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/models/types.rs
  crates/moss-workspace/src/workspace/api/describe_environment.rs
  pnpm-lock.yaml
Labels: none

Refactor operations module by splitting workspace manager and workspace operations into separate files for improved organization and maintainability
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/models/operations/workspace_manager_operations.rs
  crates/moss-workspace/src/models/operations/workspace_operations.rs
  crates/moss-workspace/src/workspace_manager/api/rename_workspace.rs
Labels: none

Remove unused FormDataValue enum
  crates/moss-collection/src/kdl/foundations/body.rs
Labels: none

feat: Add new SVG icons for tree operations and update icon references in Breadcrumbs and Tree components
  tools/icongen/assets/TreeChevronRight.svg
  tools/icongen/assets/TreeCollapseAll.svg
  tools/icongen/assets/TreeDetail.svg
  tools/icongen/assets/TreeExpandAll.svg
  tools/icongen/assets/TreePlus.svg
  tools/icongen/assets/TreeReload.svg
  tools/icongen/svgr.config.js
  view/desktop/src/components/Breadcrumbs/BreadcrumbNode.tsx
  view/desktop/src/components/Breadcrumbs/Breadcrumbs.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/TreeRootNode.tsx
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

feat: Enhance CollectionTreeView and SidebarHeader with expand/collapse functionality and improve type safety in tree utilities
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/components/Tree/utils.ts
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
  view/desktop/src/store/collections/index.ts
Labels: none

refactor: Update CSS variables for improved consistency and adjust padding in Tree components for better layout
  assets/themes/light.css
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/components/Tree/Tree.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/TreeRootNode.tsx
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

feat: Introduce TreeActionButton component for consistent tree action buttons and refactor TreeRootNode and SidebarHeader to utilize it
  view/desktop/src/components/Tree/TreeActionButton.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/TreeRootNode.tsx
  view/desktop/src/parts/SideBar/Sidebar.tsx
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

refactor: Update TreeActionButton to use forwardRef for better ref forwarding and improve button structure
  view/desktop/src/components/Tree/TreeActionButton.tsx
Labels: none

refactor: Simplify TreeRootNode layout by removing unnecessary gap in flex container
  view/desktop/src/components/Tree/TreeRootNode.tsx
Labels: none

fixed TreeRootNode action buttons overflow text even if invisible
  view/desktop/src/components/Tree/TreeRootNode.tsx
Labels: none

refactor: Update CollectionCreationZone styles to enhance visual feedback with borders for drop states
  view/desktop/src/components/CollectionTreeView.tsx
Labels: none

refactor: Update styles in CollectionTreeView and TreeNode components for improved visual consistency and interaction feedback
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/components/Menu/Item.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

This commit enhances the overall architecture and prepares the codebase for future features related to request handling and indexing
  Cargo.lock
  Cargo.toml
  crates/moss-app/src/manager.rs
  crates/moss-app/src/service/builder.rs
  crates/moss-app/src/service/pool.rs
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/collection/api/delete_request.rs
  crates/moss-collection/src/collection/visit.rs
  crates/moss-collection/src/indexer.rs
  crates/moss-collection/src/lib.rs
  crates/moss-collection/tests/TestCollection/requests/MyFolder/MyFolder.sapic
  crates/moss-collection/tests/shared/mod.rs
  crates/moss-state/src/command.rs
  crates/moss-state/src/service.rs
  crates/moss-workspace/Cargo.toml
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/src/workspace/api/create_collection.rs
  crates/moss-workspace/src/workspace_manager.rs
  crates/moss-workspace/src/workspace_manager/api/create_workspace.rs
  crates/moss-workspace/src/workspace_manager/api/delete_workspace.rs
  crates/moss-workspace/src/workspace_manager/api/list_workspaces.rs
  crates/moss-workspace/src/workspace_manager/api/open_workspace.rs
  crates/moss-workspace/src/workspace_manager/api/rename_workspace.rs
  crates/moss-workspace/tests/shared/mod.rs
  view/desktop/bin/src/commands/cmd_window.rs
  view/desktop/bin/src/lib.rs
  view/desktop/bin/src/services.rs
Labels: none

implement `css_variables_exporter.py`
  Makefile
  misc/css_variables_exporter.py
  packages/config-eslint/configs/default.js
  packages/config-eslint/moss-lint-plugin/css_variables.txt
Labels: makefile

make `auto-assign` workflow only work if not yet assigned
  .github/workflows/auto-assign.yml
Labels: github_actions

The workspace and collection management functionalities have been updated to utilize this new feature, enhancing user feedback during operations
  Cargo.lock
  Cargo.toml
  Makefile
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/indexer.rs
  crates/moss-state/src/command.rs
  crates/moss-workbench/Cargo.toml
  crates/moss-workbench/bindings/types.ts
  crates/moss-workbench/index.ts
  crates/moss-workbench/package.json
  crates/moss-workbench/src/activity_indicator.rs
  crates/moss-workbench/src/lib.rs
  crates/moss-workbench/tsconfig.json
  crates/moss-workspace/Cargo.toml
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/src/models/operations/workspace_manager_operations.rs
  crates/moss-workspace/src/models/operations/workspace_operations.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/src/workspace/api.rs
  crates/moss-workspace/src/workspace/api/create_collection.rs
  crates/moss-workspace/src/workspace/api/delete_collection.rs
  crates/moss-workspace/src/workspace/api/describe_environment.rs
  crates/moss-workspace/src/workspace/api/describe_workspace.rs
  crates/moss-workspace/src/workspace/api/open_collection.rs
  crates/moss-workspace/src/workspace/api/rename_collection.rs
  crates/moss-workspace/src/workspace_manager.rs
  crates/moss-workspace/src/workspace_manager/api/create_workspace.rs
  crates/moss-workspace/src/workspace_manager/api/open_workspace.rs
  crates/moss-workspace/src/workspace_manager/api/rename_workspace.rs
  crates/moss-workspace/tests/integration__workspace_manager__open_workspace.rs
  crates/moss-workspace/tests/shared/mod.rs
  pnpm-lock.yaml
  tsconfig.json
  view/desktop/bin/src/commands/collection.rs
  view/desktop/bin/src/lib.rs
  view/desktop/bin/src/services.rs
  view/desktop/src/pages/LogsPage.tsx
Labels: makefile

add error handling to `css_variables_exporter.py`
  misc/css_variables_exporter.py
Labels: none

Enhance workspace management by integrating the moss-workbench package and updating activity event handling. Refactor indexing process.
  crates/moss-collection/src/indexer.rs
  crates/moss-workbench/bindings/types.ts
  crates/moss-workbench/src/activity_indicator.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/src/workspace_manager/api/create_workspace.rs
  crates/moss-workspace/src/workspace_manager/api/open_workspace.rs
  crates/moss-workspace/src/workspace_manager/api/rename_workspace.rs
  crates/moss-workspace/tests/shared/mod.rs
  pnpm-lock.yaml
  view/desktop/package.json
  view/desktop/src/pages/LogsPage.tsx
Labels: none

WIP: Simplify Resizable component and enhance AppLayout with improved sidebar management and layout structure
  view/desktop/src/assets/index.css
  view/desktop/src/components/Resizable.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/layouts/AppLayout.tsx
  view/desktop/src/layouts/ContentLayout.tsx
  view/desktop/src/pages/SettingsPage.tsx
  view/desktop/src/parts/ActivityBar/ActivityBar.tsx
  view/desktop/src/parts/HeadBar/HeadBar.tsx
  view/desktop/src/parts/SideBar/Sidebar.tsx
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
  view/desktop/src/store/activityBar/index.ts
  view/desktop/src/store/appResizableLayout/index.ts
  view/desktop/src/utils/swapListById.ts
Labels: none

refactor: Remove alignment from ActivityBar store and add setAlignment method for improved state management
  view/desktop/src/parts/ActivityBar/ActivityBar.tsx
  view/desktop/src/store/activityBar/index.ts
Labels: none

chore: Update @atlaskit/pragmatic-drag-and-drop dependency to version 1.5.2 in package.json and pnpm-lock.yaml; remove redundant entry in view/desktop/package.json
  package.json
  pnpm-lock.yaml
  view/desktop/package.json
Labels: none

Make `css_variables_exporter.py` export a json file
  misc/css_variables_exporter.py
  packages/config-eslint/moss-lint-plugin/css_variables.json
  packages/config-eslint/moss-lint-plugin/css_variables.txt
Labels: none

remove unnecessary dependencies and features
  Cargo.lock
  Cargo.toml
  crates/moss-app/Cargo.toml
  crates/moss-collection/Cargo.toml
  crates/moss-db/Cargo.toml
  crates/moss-environment/Cargo.toml
  crates/moss-git-hosting-provider/Cargo.toml
  crates/moss-keyring/Cargo.toml
  crates/moss-workspace/Cargo.toml
  view/desktop/bin/Cargo.toml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: github_actions

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
