Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

fix(DefaultHeader): update toggle handler to use sorting functionality instead of visibility
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
Labels: none

disable sort after dnd
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
Labels: none

Update tests and other refactors
  crates/moss-db/src/anyvalue_enum.rs
Labels: none

Fix warnings
  crates/moss-db/src/anyvalue_enum.rs
Labels: none

Update `redb` to v2.6.0
  Cargo.toml
  crates/moss-db/src/lib.rs
Labels: none

Update HeadBarCenterItems to use viewport width for responsive sizing
  view/desktop/src/parts/HeadBar/HeadBarCenterItems.tsx
Labels: none

refactor(DataTable, DefaultCell, KitchenSinkPage): remove unused state management, enhance key assignment logic, and improve cell visibility based on selection
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultCell.tsx
  view/desktop/src/pages/KitchenSinkPage.tsx
Labels: none

fix kitchensink in dockview
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
Labels: none

chore
  view/desktop/src/components/Tree/hooks/useDraggableRootNode.ts
Labels: none

added unique id to table rows
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/testData.json
  view/desktop/src/components/TestTanstakTable/testData2.json
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

refactor(DefaultRow): enhance RowHandle component with className prop and improve hover effects
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

style(DefaultRow): add conditional background color for dragging state and update RowHandle visibility
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

style(DataTable, DefaultHeader): update input styling and enhance header interaction with action menu
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
  view/desktop/src/pages/KitchenSinkPage.tsx
Labels: none

Provide `app_handle` to `LoggingService`
  Cargo.lock
  crates/moss-logging/Cargo.toml
  crates/moss-logging/src/lib.rs
  view/desktop/bin/src/services.rs
Labels: none

Update `LogPayload` type
  crates/moss-logging/bindings/operations.ts
  crates/moss-logging/bindings/operations.zod.ts
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/models/operations.rs
  crates/moss-logging/src/tokens.rs
  view/desktop/bin/src/services.rs
Labels: none

Implement emitting log entries to tauri app
  crates/moss-logging/bindings/operations.ts
  crates/moss-logging/bindings/operations.zod.ts
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/makewriter.rs
  crates/moss-logging/src/models/types.rs
Labels: none

Demo for emitting log entry to the frontend
  pnpm-lock.yaml
  view/desktop/bin/src/commands/app.rs
  view/desktop/bin/src/lib.rs
  view/desktop/package.json
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/pages/LogsPage.tsx
Labels: none

Resolve warnings and remove `app_handle` field from `LoggingService`
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/makewriter.rs
  view/desktop/bin/src/commands/app.rs
  view/desktop/bin/src/services.rs
Labels: none

Fix `moss-logging` test
  crates/moss-logging/src/lib.rs
Labels: none

style(DataTable): refactor table structure and replace hardcoded colors with CSS variables; remove unused TableBody and TableHead components
  assets/themes/light.css
  packages/config-eslint/moss-lint-plugin/css_variables.json
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/TableBody.tsx
  view/desktop/src/components/TestTanstakTable/TableHead.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultCell.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
  view/desktop/src/components/TestTanstakTable/ui/LastRow.tsx
Labels: none

Various refactors
  crates/moss-logging/bindings/operations.ts
  crates/moss-logging/bindings/operations.zod.ts
  crates/moss-logging/constants.ts
  crates/moss-logging/index.ts
  crates/moss-logging/src/constants.rs
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/makewriter.rs
  crates/moss-logging/src/models/operations.rs
  view/desktop/bin/src/commands/app.rs
  view/desktop/bin/src/lib.rs
  view/desktop/bin/src/services.rs
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/pages/LogsPage.tsx
Labels: none

Fix error
  view/desktop/bin/src/services.rs
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: github_actions

Update lib.rs
  crates/moss-logging/src/lib.rs
Labels: none

refactor(DataTable): streamline row reordering and column sizing logic; introduce NoDataRow component for improved empty state handling
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/hooks/useAdjustColumnsWithoutSizes.ts
  view/desktop/src/components/TestTanstakTable/hooks/useTableRowReorder.ts
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
  view/desktop/src/components/TestTanstakTable/ui/NoDataRow.tsx
Labels: none

Refactor worktree
  crates/moss-collection/src/api/create_entry.rs
  crates/moss-collection/src/api/delete_entry.rs
  crates/moss-collection/src/api/stream_worktree_entries.rs
  crates/moss-collection/src/api/update_entry.rs
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/snapshot.rs
  crates/moss-collection/src/worktree/util/validation.rs
Labels: none

refactor(DataTable): remove calculateTableSizing function and integrate sizing logic directly into useAdjustColumnsWithoutSizes; update DataTable and DefaultRow components for improved data handling
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/calculateTableSizing.ts
  view/desktop/src/components/TestTanstakTable/hooks/useAdjustColumnsWithoutSizes.ts
  view/desktop/src/components/TestTanstakTable/hooks/useTableRowReorder.ts
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
  view/desktop/src/components/TestTanstakTable/ui/NoDataRow.tsx
Labels: none

feat(icons): add dark and light SVG icons for AddToVcs and ConfigMap components
  assets/icons/AddToVcs/dark.svg
  assets/icons/AddToVcs/light.svg
  assets/icons/ConfigMap/dark.svg
  assets/icons/ConfigMap/light.svg
Labels: none

feat(icons): add dark and light SVG icons for RemoveCircle component
  assets/icons/RemoveCircle/dark.svg
  assets/icons/RemoveCircle/light.svg
Labels: none

Update constants.rs
  crates/moss-logging/src/constants.rs
Labels: none

test drag handle
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

fix(DefaultRow): ensure dragHandle is defined before enabling drag-and-drop functionality; update rowRef usage for improved element reference
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

fix(useTableRowReorder): add null checks for sourceTarget and dropTarget to prevent errors during row reordering
  view/desktop/src/components/TestTanstakTable/hooks/useTableRowReorder.ts
Labels: none

refactor(Menu): enhance ActionMenu component by adding open prop for controlled state management; improve trigger handling for right-click and pointer events
  view/desktop/src/lib/ui/Menu/Menu.tsx
Labels: none

refactor(DefaultHeader): enhance action menu interaction by adding controlled open state; update mouse event handling for improved user experience
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
Labels: none

test
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultCell.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
  view/desktop/src/components/TestTanstakTable/ui/NoDataRow.tsx
Labels: none

test
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
Labels: none

Update Makefile to include export-css-variables in the ready target
  Makefile
Labels: makefile

Add Edit submenu to application menu
  view/desktop/bin/src/menu.rs
Labels: none

chore(prettierignore): update ignore patterns to include node_modules and refine existing entries
  .prettierignore
Labels: none

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
