Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

rename EditableToml to EditableFileHandle and update related usages across the codebase
  crates/moss-collection/src/collection.rs
  crates/moss-file/src/toml.rs
  crates/moss-workspace/src/api/create_collection.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/tests/workspace_create_collection.rs
  crates/moss-workspace/tests/workspace_delete_collection.rs
  crates/moss-workspace/tests/workspace_update_collection.rs
Labels: none

Add uuid as a dependency and implement tests for FileHandle and EditableFileHandle functionality
  Cargo.lock
  crates/moss-file/Cargo.toml
  crates/moss-file/tests/toml_test.rs
  crates/moss-fs/Cargo.toml
Labels: none

Incorporate database in `moss-workspace` tests
  .gitignore
  crates/moss-workbench/src/workbench.rs
  crates/moss-workbench/tests/workbench_create_workspace.rs
  crates/moss-workbench/tests/workbench_delete_workspace.rs
  crates/moss-workbench/tests/workbench_open_workspace.rs
  crates/moss-workspace/src/api/create_collection.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace_create_collection.rs
  crates/moss-workspace/tests/workspace_delete_collection.rs
  crates/moss-workspace/tests/workspace_update_state.rs
Labels: none

feat(DataTable): integrate @tanstack/react-table for enhanced table functionality and add DataTable component with test data
  pnpm-lock.yaml
  view/desktop/package.json
  view/desktop/src/components/ActivityBar.tsx
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/TableBody.tsx
  view/desktop/src/components/TestTanstakTable/TableHead.tsx
  view/desktop/src/components/TestTanstakTable/testData.json
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
  view/desktop/src/parts/TabbedPane/Watermark.tsx
Labels: none

Fix comment in toml.rs
  crates/moss-file/src/toml.rs
Labels: none

Refactor imports in collection.rs for clarity and update create_test_collection to use internal_abs_path for collection creation in mod.rs. Remove unused GetItem import in storage.rs.
  crates/moss-collection/src/collection.rs
  crates/moss-collection/tests/shared/mod.rs
  crates/moss-storage/src/storage.rs
Labels: none

Refactor TOML file handling: Replace EditableFileHandle with EditableInPlaceFileHandle across the codebase, updating related methods and tests to ensure compatibility and maintain functionality.
  crates/moss-collection/src/collection.rs
  crates/moss-file/src/toml.rs
  crates/moss-file/tests/toml_test.rs
  crates/moss-workspace/src/workspace.rs
Labels: none

Replace the use of `dump` method in database related tests
  .gitignore
  crates/moss-storage/src/storage/operations.rs
  crates/moss-storage/src/storages/global_storage/stores.rs
  crates/moss-storage/src/storages/global_storage/stores/item_store.rs
  crates/moss-storage/src/storages/workspace_storage/stores/item_store.rs
  crates/moss-workbench/src/workbench.rs
  crates/moss-workbench/tests/shared/mod.rs
  crates/moss-workbench/tests/workbench_create_workspace.rs
  crates/moss-workbench/tests/workbench_delete_workspace.rs
  crates/moss-workbench/tests/workbench_open_workspace.rs
  crates/moss-workspace/src/api/describe_state.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace_create_collection.rs
  crates/moss-workspace/tests/workspace_delete_collection.rs
  crates/moss-workspace/tests/workspace_update_state.rs
Labels: none

code cleanup
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace_create_collection.rs
  crates/moss-workspace/tests/workspace_delete_collection.rs
  crates/moss-workspace/tests/workspace_update_state.rs
Labels: none

minor refactors
  .gitignore
  crates/moss-storage/src/storage.rs
  crates/moss-workbench/src/lib.rs
  crates/moss-workbench/src/storage/segments.rs
  crates/moss-workbench/src/workbench.rs
  crates/moss-workbench/tests/shared/mod.rs
  crates/moss-workbench/tests/workbench_create_workspace.rs
  crates/moss-workbench/tests/workbench_delete_workspace.rs
  crates/moss-workbench/tests/workbench_open_workspace.rs
  crates/moss-workspace/src/storage/segments.rs
  crates/moss-workspace/tests/shared/mod.rs
Labels: none

Reorganize `workspace_storage::entities` to match with actual stores
  crates/moss-storage/src/storages/workspace_storage/entities.rs
  crates/moss-storage/src/storages/workspace_storage/entities/collection_store_entities.rs
  crates/moss-storage/src/storages/workspace_storage/entities/item_store_entities.rs
  crates/moss-workspace/src/api/create_collection.rs
  crates/moss-workspace/src/api/describe_state.rs
  crates/moss-workspace/src/api/update_state.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/src/models/types/editor.rs
  crates/moss-workspace/src/workspace.rs
Labels: none

Add initial test files for environment functionality and refactor imports in environment.rs
  crates/moss-collection/tests/collection_list_environments.rs
  crates/moss-environment/src/environment.rs
  crates/moss-workspace/tests/workspace_stream_environments.rs
Labels: none

feat: Add Rust warnings checker script and integrate it into CI workflow
  .github/scripts/warnings_check.py
  .github/workflows/ci.yml
  crates/moss-db/tests/integration__bincode_table__insert.rs
  crates/moss-db/tests/integration__bincode_table__read.rs
  crates/moss-db/tests/integration__bincode_table__remove.rs
  crates/moss-db/tests/integration__bincode_table__scan.rs
  crates/moss-db/tests/integration__bincode_table__scan_by_prefix.rs
  crates/moss-db/tests/integration__bincode_table__truncate.rs
  crates/moss-db/tests/integration__encrypted_bincode_table__read.rs
  crates/moss-db/tests/integration__encrypted_bincode_table__write.rs
  crates/moss-db/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace_create_collection.rs
Labels: github_actions

Correct parameter name in Rust warnings check script invocation in CI workflow
  .github/workflows/ci.yml
Labels: github_actions

Enhance warnings check script to include location information in output for better debugging
  .github/scripts/warnings_check.py
Labels: github_actions

Update CI workflow
  .github/workflows/ci.yml
Labels: github_actions

Update CI workflow to exclude 'desktop' directory from checks
  .github/workflows/ci.yml
Labels: github_actions

Update warnings check script to include workspace option and adjust CI workflow to use updated exclude parameters
  .github/scripts/warnings_check.py
  .github/workflows/ci.yml
Labels: github_actions

Remove unused var
  crates/moss-db/tests/shared/mod.rs
Labels: none

Test file names refactoring for the moss-db crate
  crates/moss-db/tests/bincode_table__insert.rs
  crates/moss-db/tests/bincode_table__read.rs
  crates/moss-db/tests/bincode_table__remove.rs
  crates/moss-db/tests/bincode_table__scan.rs
  crates/moss-db/tests/bincode_table__scan_by_prefix.rs
  crates/moss-db/tests/bincode_table__truncate.rs
  crates/moss-db/tests/encrypted_bincode_table__read.rs
  crates/moss-db/tests/encrypted_bincode_table__write.rs
Labels: none

Cleaned up warnings in the `workspace` module and restructured the naming
  .github/workflows/ci.yml
  crates/moss-workspace/src/models/events.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace__create_collection.rs
  crates/moss-workspace/tests/workspace__delete_collection.rs
  crates/moss-workspace/tests/workspace__describe_state.rs
  crates/moss-workspace/tests/workspace__stream_environments.rs
  crates/moss-workspace/tests/workspace__update_collection.rs
  crates/moss-workspace/tests/workspace__update_state.rs
Labels: github_actions

Enhance warnings check script to filter warnings by package when using the -p option
  .github/scripts/warnings_check.py
Labels: github_actions

Refactor CI workflow to implement matrix strategy for Rust warnings check, allowing for package-specific checks and cleaning up the cargo cache accordingly.
  .github/workflows/ci.yml
Labels: github_actions

Cleaned up warnings in the `workbench` module and restructured the naming
  crates/moss-workbench/tests/workbench__create_workspace.rs
  crates/moss-workbench/tests/workbench__delete_workspace.rs
  crates/moss-workbench/tests/workbench__open_workspace.rs
  crates/moss-workbench/tests/workbench__rename_workspace.rs
Labels: none

Refactor CI workflow to enable more packages for checks
  .github/workflows/ci.yml
  crates/moss-git/src/lib.rs
  crates/moss-state/src/command.rs
Labels: github_actions

feat(DataTable): enhance table functionality with column resizing and sorting, and introduce DefaultCell and DefaultHeader components for improved rendering
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultCell.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHead.tsx
  view/desktop/src/parts/TabbedPane/Watermark.tsx
Labels: none

Add moss-settings crate with initial configuration and schema generation
  Cargo.lock
  Cargo.toml
  crates/moss-settings/Cargo.toml
  crates/moss-settings/gen/schemas/default.schema.json
  crates/moss-settings/index.ts
  crates/moss-settings/package.json
  crates/moss-settings/src/lib.rs
  crates/moss-settings/src/models.rs
  crates/moss-settings/src/models/types.rs
  crates/moss-settings/src/service.rs
  crates/moss-settings/tsconfig.json
  crates/moss-settings/user.schema.json
  pnpm-lock.yaml
  tsconfig.json
Labels: none

Refactor schema generation in moss-settings to use a dynamic function, improving maintainability and clarity
  crates/moss-settings/index.ts
Labels: none

Fix error logging message in schema generation to accurately reflect the context
  crates/moss-settings/index.ts
Labels: none

Add color theme option to schema in moss-settings
  crates/moss-settings/gen/schemas/default.schema.json
  crates/moss-settings/index.ts
Labels: none

remove bg class
  view/desktop/src/components/ToggleGroup.tsx
Labels: none

remove border
  view/desktop/src/components/ToggleGroup.tsx
Labels: none

add animation
  view/desktop/src/parts/HeadBar/ModeToggle.tsx
Labels: none

Rename workspace-audit target to rust-audit in Makefile and update command to run audit
  Makefile
Labels: makefile

Add Rust toolchain and formatting configuration files
  rust-toolchain.toml
  rustfmt.toml
Labels: none

Enhance xtask with new audit and cargo features tasks
  Cargo.lock
  tools/xtask/Cargo.toml
  tools/xtask/config.toml
  tools/xtask/src/config.rs
  tools/xtask/src/main.rs
  tools/xtask/src/tasks.rs
  tools/xtask/src/tasks/audit.rs
  tools/xtask/src/tasks/cargo_features.rs
  tools/xtask/src/tasks/license.rs
Labels: none

Split kdl specific logic to `moss-kdl` and create `KdlFileHandle` type
  Cargo.lock
  Cargo.toml
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/kdl/tokens.rs
  crates/moss-collection/src/lib.rs
  crates/moss-collection/src/models/operations.rs
  crates/moss-collection/src/models/types.rs
  crates/moss-file/Cargo.toml
  crates/moss-file/src/common.rs
  crates/moss-file/src/kdl.rs
  crates/moss-file/src/lib.rs
  crates/moss-file/src/tokens.rs
  crates/moss-kdl/Cargo.toml
  crates/moss-kdl/src/foundations.rs
  crates/moss-kdl/src/foundations/body.rs
  crates/moss-kdl/src/foundations/folder.rs
  crates/moss-kdl/src/foundations/http.rs
  crates/moss-kdl/src/lib.rs
  crates/moss-kdl/src/parse.rs
  crates/moss-kdl/src/parse/http.rs
  crates/moss-kdl/src/spec_file.rs
  crates/moss-kdl/src/tokens.rs
Labels: none

feat: Enhance OpenWorkspaceModal with direct workspace opening functionality
  view/desktop/src/components/Modals/Workspace/OpenWorkspaceModal.tsx
Labels: none

feat(DataTable): implement sorting and row selection features, enhance table structure with DefaultHeader component, and improve styling for better usability
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/TableBody.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHead.tsx
Labels: none

style(DataTable): enhance cell padding and leading for improved readability in DataTable and TableBody components
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/TableBody.tsx
Labels: none

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
