Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile, bindings, scripts

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

makefile:
  - changed-files:
      - any-glob-to-any-file: "Makefile"

bindings:
  - changed-files:
      - any-glob-to-any-file: "packages/bindings-utils/**"
      - any-glob-to-any-file: "crates/*/bindings/**"

scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"

enhancement:
  - title: "feat\\([^)]*\\):.*"

fix:
  - title: "fix\\([^)]*\\):.*"

refactor:
  - title: "refactor\\([^)]*\\):.*"

docs:
  - title: "docs\\([^)]*\\):.*"

chore:
  - title: "chore\\([^)]*\\):.*"

ci:
  - title: "ci\\([^)]*\\):.*"

Initial CI pipeline
  .github/workflows/ci.yml
Labels: github_actions

feat(useDeleteWorkspace): integrate close workspace logic before deletion of active workspace
  view/desktop/src/hooks/workbench/useDeleteWorkspace.ts
Labels: none

Remove `parking_lot` dependency
  Cargo.lock
  Cargo.toml
  crates/moss-app/Cargo.toml
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/src/services/log_service/rollinglog_writer.rs
  crates/moss-git-hosting-provider/Cargo.toml
  crates/moss-git-hosting-provider/src/gitlab/auth.rs
Labels: none

Refactor CollectionTree components and related utilities for improved structure and functionality
  view/desktop/src/components/Breadcrumbs/BreadcrumbNode.tsx
  view/desktop/src/components/Breadcrumbs/BreadcrumbTree.tsx
  view/desktop/src/components/Breadcrumbs/Breadcrumbs.tsx
  view/desktop/src/components/CollectionTree/AddingFormDivider.tsx
  view/desktop/src/components/CollectionTree/DropIndicatorWithInstruction.tsx
  view/desktop/src/components/CollectionTree/NodeAddForm.tsx
  view/desktop/src/components/CollectionTree/NodeLabel.tsx
  view/desktop/src/components/CollectionTree/NodeRenamingForm.tsx
  view/desktop/src/components/CollectionTree/TestCollectionIcon.tsx
  view/desktop/src/components/CollectionTree/Tree.tsx
  view/desktop/src/components/CollectionTree/TreeNode.tsx
  view/desktop/src/components/CollectionTree/TreeRootNode.tsx
  view/desktop/src/components/CollectionTree/hooks/useAddNodeWithDivider.tsx
  view/desktop/src/components/CollectionTree/hooks/useClickOutside.ts
  view/desktop/src/components/CollectionTree/hooks/useCreateNewCollectionFromTreeNodeEvent.ts
  view/desktop/src/components/CollectionTree/hooks/useDraggableRootNode.ts
  view/desktop/src/components/CollectionTree/hooks/useDropTargetRootNode.tsx
  view/desktop/src/components/CollectionTree/hooks/useInstructionNode.ts
  view/desktop/src/components/CollectionTree/hooks/useMoveTreeNodeEvent.ts
  view/desktop/src/components/CollectionTree/hooks/useNodeAddForm.ts
  view/desktop/src/components/CollectionTree/hooks/useNodeRenamingForm.ts
  view/desktop/src/components/CollectionTree/types.ts
  view/desktop/src/components/CollectionTree/utils.ts
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/components/index.ts
  view/desktop/src/parts/TabbedPane/CustomTab.tsx
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
  view/desktop/src/parts/TabbedPane/hooks/useDockviewDropTarget.ts
  view/desktop/src/store/collections/index.ts
Labels: none

Remove `arc-swap` dependency
  Cargo.lock
  Cargo.toml
  crates/moss-collection/Cargo.toml
  crates/moss-workspace/Cargo.toml
Labels: none

refactor(WorkspaceNameSection): simplify props by removing unused state and handlers for changes and reset
  view/desktop/src/pages/WorkspaceSettingsPage/WorkspaceNameSection.tsx
  view/desktop/src/pages/WorkspaceSettingsPage/WorkspaceSettingsPage.tsx
Labels: none

Remove other unused dependencies
  Cargo.lock
  Cargo.toml
  crates/moss-app/Cargo.toml
  crates/moss-collection/Cargo.toml
  crates/moss-environment/Cargo.toml
  crates/moss-fs/Cargo.toml
  crates/moss-tauri/Cargo.toml
  crates/moss-vault/Cargo.toml
  crates/moss-workspace/Cargo.toml
  view/desktop/bin/Cargo.toml
Labels: none

fix(ConfirmationModal, WorkspaceDangerZoneSection): correct button class names for background styling; refactor(TabbedPane): extract dynamic page wrapper for improved title management
  view/desktop/src/components/Modals/ConfirmationModal.tsx
  view/desktop/src/pages/WorkspaceSettingsPage/WorkspaceDangerZoneSection.tsx
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
Labels: none

Temporarily disable `moss-git` and `moss-git-hosting-provider`
  Cargo.lock
  Cargo.toml
Labels: none

Update Cargo.toml
  Cargo.toml
Labels: none

refactor(TabbedPane): streamline dynamic title management by consolidating workspace data retrieval and effect hooks
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
Labels: none

fixed breadcrumbs wrong width
  view/desktop/src/components/Breadcrumbs/BreadcrumbNode.tsx
  view/desktop/src/components/Breadcrumbs/Breadcrumbs.tsx
Labels: none

Refactor CollectionTree structure by moving TreeNode component to a dedicated directory
  view/desktop/src/components/CollectionTree/TreeNode.tsx
  view/desktop/src/components/CollectionTree/TreeNode/TreeNode.tsx
  view/desktop/src/components/CollectionTree/TreeNode/TreeNodeAddForm.tsx
  view/desktop/src/components/CollectionTree/TreeNode/TreeNodeButton.tsx
  view/desktop/src/components/CollectionTree/TreeNode/TreeNodeChildren.tsx
  view/desktop/src/components/CollectionTree/TreeNode/TreeNodeRenameForm.tsx
  view/desktop/src/components/CollectionTree/TreeRootNode.tsx
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: github_actions

style(WorkspaceSettings): adjust margin for sections in WorkspaceSettingsPage for consistent spacing
  view/desktop/src/pages/WorkspaceSettingsPage/WorkspaceDangerZoneSection.tsx
  view/desktop/src/pages/WorkspaceSettingsPage/WorkspaceDataSection.tsx
  view/desktop/src/pages/WorkspaceSettingsPage/WorkspaceStartupSection.tsx
  view/desktop/src/parts/HeadBar/HeadBarActions.tsx
Labels: none

Fix `no_dbg_outside_of_tests` pattern
  .grit/patterns/rust/no_dbg_outside_of_tests.md
  crates/moss-app/src/services/log_service.rs
Labels: none

refactor(HeadBarData): relocate 'Exit Workspace' action and add a new separator for improved menu organization
  view/desktop/src/parts/HeadBar/HeadBarData.tsx
Labels: none

Add Create and Delete Collection Modals with associated hooks
  view/desktop/src/components/Modals/Collection/CreateCollectionModal.tsx
  view/desktop/src/components/Modals/Collection/DeleteCollectionModal.tsx
  view/desktop/src/hooks/collection/useCreateCollection.ts
  view/desktop/src/hooks/collection/useDeleteCollection.ts
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

chore
  view/desktop/src/hooks/collection/useDeleteCollection.ts
Labels: none

chore
  view/desktop/src/lib/backend/tauri.ts
Labels: none

commit createCollectionEntry for debug
  pnpm-lock.yaml
  view/desktop/package.json
  view/desktop/src/hooks/collection/createCollectionEntry.ts
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

Enhance modal functionality by closing modals after collection creation and deletion
  view/desktop/src/components/Modals/Collection/CreateCollectionModal.tsx
  view/desktop/src/components/Modals/Collection/DeleteCollectionModal.tsx
Labels: none

Added form reset functionality to DeleteCollectionModal after closing, enhancing user experience.
  view/desktop/src/components/Modals/Collection/DeleteCollectionModal.tsx
Labels: none

Implement name retrieval for CreateEntryInput and update entry creation path
  crates/moss-collection/src/api/create_entry.rs
  crates/moss-collection/src/models/operations.rs
Labels: none

Ensure CI pipeline will run integration tests
  .github/workflows/ci.yml
Labels: github_actions

Fix `Workbench::delete_workspace` deadlock
  crates/moss-workbench/src/api/delete_workspace.rs
Labels: none

Update DirConfigurationModel serialization and modify collection entry path in SidebarHeader
  crates/moss-collection/src/models/types/configuration/dir.rs
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

test stream collections
  view/desktop/src/hooks/collection/createCollectionEntry.ts
  view/desktop/src/hooks/collection/useStreamCollections.ts
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

Stream example
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

Attempt to fix failing `moss-file` tests during GitHub Action
  crates/moss-fs/src/real.rs
Labels: none

Refactor createCollectionEntry types for clarity
  view/desktop/src/hooks/collection/createCollectionEntry.ts
Labels: none

chore
  view/desktop/src/parts/SideBar/SidebarHeader.tsx
Labels: none

Reimplement `batch_delete_log` and `list_logs`
  crates/moss-app/src/api/batch_delete_log.rs
  crates/moss-app/src/api/list_logs.rs
  crates/moss-app/src/api/mod.rs
  crates/moss-app/src/models/primitives.rs
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/src/services/log_service/rollinglog_writer.rs
Labels: none

Reimplement `LogService::list_logs` and basic integration tests
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/src/services/log_service/rollinglog_writer.rs
  crates/moss-app/tests/log_service__list_logs.rs
  crates/moss-app/tests/shared/mod.rs
Labels: none

Integration tests for `LogService::batch_delete_logs`
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/tests/log_service__batch_delete_logs.rs
  crates/moss-app/tests/log_service__list_logs.rs
Labels: none

Introducing `GlobalStorage` to `LogService`
  Cargo.lock
  crates/moss-app/Cargo.toml
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/src/services/log_service/rollinglog_writer.rs
  crates/moss-app/tests/shared/mod.rs
Labels: none

Recording where a log entry is located inside database
  Cargo.lock
  crates/moss-app/Cargo.toml
  crates/moss-app/src/services/log_service/rollinglog_writer.rs
  crates/moss-app/tests/log_service__list_logs.rs
Labels: none

Refactor the logic for finding which files to delete logs from
  crates/moss-app/bindings/types.ts
  crates/moss-app/bindings/types.zod.ts
  crates/moss-app/src/api/list_logs.rs
  crates/moss-app/src/models/types.rs
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/src/services/log_service/rollinglog_writer.rs
  crates/moss-app/tests/log_service__batch_delete_logs.rs
  crates/moss-app/tests/log_service__list_logs.rs
  view/desktop/bin/src/lib.rs
Labels: bindings

Update the `no_dbg_outside_of_tests` pattern
  .grit/patterns/rust/no_dbg_outside_of_tests.md
  view/desktop/bin/src/lib.rs
Labels: none

add event sub
  Cargo.lock
  crates/moss-app/src/app.rs
  crates/moss-applib/Cargo.toml
  crates/moss-applib/src/context.rs
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/lib.rs
Labels: none
