Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile, bindings, scripts

add TypeDoc documentation generation and configuration
  .gitignore
  .grit/.gritmodules/mismatches_cache
  Makefile
  package.json
  pnpm-lock.yaml
  typedoc-rename-plugin.js
  typedoc.json
Labels: makefile

Create `GlobalStorage::log_store`
  crates/moss-app/src/api/batch_delete_log.rs
  crates/moss-app/src/api/list_logs.rs
  crates/moss-app/src/models/types.rs
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/src/services/log_service/rollinglog_writer.rs
  crates/moss-app/tests/log_service__batch_delete_logs.rs
  crates/moss-storage/src/storages.rs
  crates/moss-storage/src/storages/global_storage.rs
  crates/moss-storage/src/storages/global_storage/stores.rs
  crates/moss-storage/src/storages/global_storage/stores/log_store.rs
Labels: none

Moved the plugin to a more appropriate place
  misc/typedoc/typedoc-rename-plugin.js
  typedoc.json
Labels: none

First iteration of subscriptions
  Cargo.lock
  crates/moss-app/Cargo.toml
  crates/moss-app/src/app.rs
Labels: none

Implement collection entry creation and enhance collection streaming functionality
  view/desktop/src/components/CollectionTree/hooks/useAddNodeWithDivider.tsx
  view/desktop/src/hooks/collection/useCreateCollectionEntry.ts
  view/desktop/src/store/collections/index.ts
Labels: none

chore
  view/desktop/src/hooks/collection/useStreamCollections.ts
Labels: none

Remove `LogEntryRef` type
  crates/moss-app/src/api/batch_delete_log.rs
  crates/moss-app/src/models/operations.rs
  crates/moss-app/src/models/types.rs
  crates/moss-app/src/services/log_service.rs
Labels: none

Implement log API on `App` instead of `LogService` and update the tests
  crates/moss-app/src/api/batch_delete_log.rs
  crates/moss-app/src/api/list_logs.rs
  crates/moss-app/tests/log_service__batch_delete_logs.rs
  crates/moss-app/tests/log_service__list_logs.rs
  crates/moss-app/tests/shared/mod.rs
Labels: none

Fix warnings
  crates/moss-app/tests/shared/mod.rs
  crates/moss-storage/src/storages/global_storage/stores/log_store.rs
Labels: none

Making `grit check` a step of `Rust Lint Check` job
  .github/scripts/rust_grit_check.py
  .github/scripts/rust_warnings_check.py
  .github/workflows/ci.yml
  .grit/patterns/rust/test_error_pattern.md
  .grit/patterns/rust/test_warn_pattern.md
  crates/moss-text/test.rs
Labels: github_actions

Test `Grit Check` job
  crates/moss-text/test.rs
Labels: none

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

makefile:
  - changed-files:
      - any-glob-to-any-file: "Makefile"

bindings:
  - changed-files:
      - any-glob-to-any-file: "packages/bindings-utils/**"
      - any-glob-to-any-file: "crates/*/bindings/**"

scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**"

enhancement:
  - title: "feat\\([^)]*\\):.*"

fix:
  - title: "fix\\([^)]*\\):.*"

refactor:
  - title: "refactor\\([^)]*\\):.*"

docs:
  - title: "docs\\([^)]*\\):.*"

chore:
  - title: "chore\\([^)]*\\):.*"

ci:
  - title: "ci\\([^)]*\\):.*"
