Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

Implement SegKeyBuf join method and enhance tests for segment key manipulation
  crates/moss-storage/src/primitives/segkey.rs
  crates/moss-storage/src/storages/workspace_storage/entities/state_store_entities.rs
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/types.ts
  crates/moss-workspace/src/api/create_collection.rs
  crates/moss-workspace/src/api/delete_collection.rs
  crates/moss-workspace/src/api/describe_state.rs
  crates/moss-workspace/src/api/update_state.rs
  crates/moss-workspace/src/layout.rs
  crates/moss-workspace/src/lib.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/src/models/types/editor.rs
  crates/moss-workspace/src/state.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace__describe_state.rs
  crates/moss-workspace/tests/workspace__update_state.rs
Labels: none

finally moved handle on the edge of the table
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

Update state store entities and improve layout service handling
  crates/moss-storage/src/storages/workspace_storage/entities/state_store_entities.rs
  crates/moss-workspace/src/api/update_state.rs
  crates/moss-workspace/src/layout.rs
  crates/moss-workspace/src/models/types/editor.rs
Labels: none

Refactor workspace state management by removing unused entities and comments
  crates/moss-storage/src/storages/workspace_storage/entities/state_store_entities.rs
  crates/moss-workspace/src/layout.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/src/models/types/editor.rs
  crates/moss-workspace/src/workspace.rs
Labels: none

Remove redundant comments from workspace tests
  crates/moss-workspace/tests/workspace__create_collection.rs
  crates/moss-workspace/tests/workspace__describe_state.rs
  crates/moss-workspace/tests/workspace__update_state.rs
Labels: none

added Drop to empty row functionality
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/parts/TabbedPane/hooks/useDockviewDropTarget.ts
Labels: none

refactor(DataTable, DefaultRow): improve drag-and-drop functionality by introducing edge-aware item swapping and refactoring row handle rendering
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
  view/desktop/src/utils/swapListByIndexWithEdge.ts
Labels: none

feat(DataTable): add getDropEffect to enhance drag-and-drop behavior for empty rows
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
Labels: none

fix(DataTable, DefaultRow): prevent dropping on the same row and ensure proper handling of drag-and-drop events
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

refactor(DefaultRow): improve drag-and-drop handling by adding isDragging state and updating RowHandle visibility
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

adjusted table styles to be closer to figma
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultCell.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
Labels: none

adjusted table styles to be closer to figma
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
Labels: none

Move pyproject to the top level
  .python-version
  moss-script/README.md
  moss-script/css_variables_exporter.py
  moss-script/svg_component_generator.py
  moss-script/ts_exports_injector.py
  pyproject.toml
  uv.lock
Labels: none

Update Makefile to use `uv run`
  Makefile
Labels: makefile

Refactor Sidebar and Panel state management by renaming `preferred_size` to `size`
  crates/moss-workspace/src/api/update_state.rs
  crates/moss-workspace/src/layout.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/tests/workspace__describe_state.rs
  crates/moss-workspace/tests/workspace__update_state.rs
Labels: none

Generated models
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/bindings/primitives.ts
  crates/moss-workspace/bindings/primitives.zod.ts
  crates/moss-workspace/bindings/types.ts
  crates/moss-workspace/bindings/types.zod.ts
  view/desktop/src/hooks/_usePrepareWindow.ts
  view/desktop/src/hooks/appState/useUpdatePanelPartState.ts
  view/desktop/src/hooks/appState/useUpdateSidebarPartState.ts
  view/desktop/src/hooks/appState/utils/index.ts
  view/desktop/src/layouts/AppLayout.tsx
Labels: none

Cleaned up `pyproject.toml`
  pyproject.toml
Labels: none

Update `css_variables_exporter.py` to use cli arguments and move scripts to `scripts` folder
  Makefile
  misc/css_variables_exporter.py
  misc/requirements.txt
  packages/config-eslint/moss-lint-plugin/css_variables.json
  scripts/css_variables_exporter.py
  scripts/svg_component_generator.py
Labels: makefile

Commit changes
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/physical_snapshot.rs
  crates/moss-collection/src/worktree/physical_worktree.rs
  crates/moss-collection/src/worktree/specification.rs
  crates/moss-collection/src/worktree/virtual_worktree.rs
  crates/moss-file/src/common.rs
Labels: none

Add css variable export step to the pre-commit hook
  lefthook.yml
  uv.lock
Labels: none

Fix all existing typos in the repo
  crates/moss-collection/src/kdl/foundations/body.rs
  crates/moss-collection/src/kdl/parse.rs
  crates/moss-collection/tests/collection_delete_entry__request.rs
  typos.toml
  view/desktop/index.html
  view/desktop/src/lib/backend/platform.ts
  view/desktop/src/lib/moss-tabs/README.md
  view/desktop/src/lib/moss-tabs/src/__tests__/dockview/components/panel/content.spec.ts
  view/desktop/src/lib/moss-tabs/src/__tests__/dockview/dockviewComponent.spec.ts
  view/desktop/src/lib/moss-tabs/src/__tests__/dockview/dockviewGroupPanel.spec.ts
  view/desktop/src/lib/moss-tabs/src/__tests__/gridview/gridview.spec.ts
  view/desktop/src/lib/moss-tabs/src/__tests__/gridview/gridviewComponent.spec.ts
  view/desktop/src/lib/moss-tabs/src/__tests__/overlay/overlayRenderContainer.spec.ts
  view/desktop/src/lib/moss-tabs/src/__tests__/paneview/paneviewComponent.spec.ts
  view/desktop/src/lib/moss-tabs/src/__tests__/splitview/splitview.spec.ts
  view/desktop/src/lib/moss-tabs/src/__tests__/splitview/splitviewComponent.spec.ts
  view/desktop/src/lib/moss-tabs/src/api/component.api.ts
  view/desktop/src/lib/moss-tabs/src/dnd/groupDragHandler.ts
  view/desktop/src/lib/moss-tabs/src/dockview/components/panel/content.ts
  view/desktop/src/lib/moss-tabs/src/dockview/components/titlebar/voidContainer.ts
  view/desktop/src/lib/moss-tabs/src/dockview/dockviewComponent.ts
  view/desktop/src/lib/moss-tabs/src/dockview/dockviewGroupPanelModel.ts
  view/desktop/src/lib/moss-tabs/src/dockview/dockviewPanel.ts
  view/desktop/src/lib/moss-tabs/src/dockview/framework.ts
  view/desktop/src/lib/moss-tabs/src/dockview/options.ts
  view/desktop/src/lib/moss-tabs/src/dom.ts
  view/desktop/src/lib/moss-tabs/src/events.ts
  view/desktop/src/lib/moss-tabs/src/framework.ts
  view/desktop/src/lib/moss-tabs/src/gridview/branchNode.ts
  view/desktop/src/lib/moss-tabs/src/gridview/gridview.ts
  view/desktop/src/lib/moss-tabs/src/gridview/gridviewComponent.ts
  view/desktop/src/lib/moss-tabs/src/gridview/gridviewPanel.ts
  view/desktop/src/lib/moss-tabs/src/overlay/overlayRenderContainer.ts
  view/desktop/src/lib/moss-tabs/src/paneview/paneviewComponent.ts
  view/desktop/src/lib/moss-tabs/src/react.ts
  view/desktop/src/lib/moss-tabs/src/splitview/splitview.ts
  view/desktop/src/lib/moss-tabs/src/splitview/splitviewComponent.ts
  view/desktop/src/pages/HomePage.tsx
Labels: none

Add typo-checking to pre-commit hook
  lefthook.yml
  misc/.gitkeep
Labels: none

Fix ci workflow building icons
  .github/workflows/ci.yml
Labels: github_actions

Fix ci workflow
  .github/workflows/ci.yml
Labels: github_actions

Fix index.html style
  view/desktop/index.html
Labels: none

Replace `typos.toml` rules with file-type specific ones
  typos.toml
Labels: none

Simplify worktree and environments handling
  crates/moss-collection/src/api/create_entry.rs
  crates/moss-collection/src/api/delete_entry.rs
  crates/moss-collection/src/api/list_environments.rs
  crates/moss-collection/src/api/stream_worktree_entries.rs
  crates/moss-collection/src/api/update_entry.rs
  crates/moss-collection/src/collection.rs
  crates/moss-collection/tests/collection_create_entry__dir.rs
  crates/moss-collection/tests/collection_create_entry__request.rs
  crates/moss-collection/tests/collection_delete_entry__dir.rs
  crates/moss-collection/tests/collection_delete_entry__request.rs
  crates/moss-collection/tests/collection_stream_entries_by_prefixes.rs
  crates/moss-collection/tests/collection_update_entry__rename_dir.rs
  crates/moss-collection/tests/collection_update_entry__rename_request.rs
  crates/moss-environment/src/environment.rs
Labels: none

Add spell-check to ci pipeline
  .github/workflows/ci.yml
Labels: github_actions

Initial implementation of `AnyValueEnum`
  crates/moss-db/src/anyvalue_enum.rs
  crates/moss-db/src/lib.rs
Labels: none

Update anyvalue_enum.rs
  crates/moss-db/src/anyvalue_enum.rs
Labels: none

refactor(DataTable, DefaultHeader): enhance table header with sorting and visibility options, and update DataTable to manage column visibility state
  packages/config-eslint/moss-lint-plugin/css_variables.json
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultRow.tsx
  view/desktop/src/lib/ui/Scrollbar.tsx
  view/desktop/src/pages/KitchenSinkPage.tsx
Labels: none

Update dependencies and refactor worktree structure
  Cargo.lock
  Cargo.toml
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/src/worktree/snapshot.rs
  crates/moss-file/Cargo.toml
  crates/moss-file/src/common.rs
  crates/moss-file/src/kdl.rs
  crates/moss-file/src/lib.rs
Labels: none

Fix issue updating `cargo_metadata` crate
  tools/xtask/src/tasks/audit.rs
Labels: none

Revert upgrade to `redb`
  Cargo.toml
Labels: none

Various refactors
  crates/moss-db/src/anyvalue_enum.rs
Labels: none

Implement type conversions for `AnyValueEnum`
  crates/moss-db/src/anyvalue_enum.rs
Labels: none

Implement `any_value!` macro
  crates/moss-db/src/anyvalue_enum.rs
Labels: none

Fix (de)serialization logic for `AnyValueEnum`
  crates/moss-db/src/anyvalue_enum.rs
Labels: none

feat(DataTable, KitchenSinkPage): add column visibility management and integrate table API handling
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
  view/desktop/src/components/TestTanstakTable/ui/DefaultHeader.tsx
  view/desktop/src/pages/KitchenSinkPage.tsx
Labels: none

refactor(DataTable): optimize column sizing logic to set initial sizing on mount
  view/desktop/src/components/TestTanstakTable/DataTable.tsx
Labels: none

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
