Repository moss-foundation/sapic, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, makefile

store original name in `SanitizedName` type
  crates/moss-common/src/sanitized.rs
Labels: none

feat(Tree): Refactor event hooks for creating and moving tree nodes, and enhance drop target functionality
  view/desktop/src/components/Tree/Tree.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/TreeRootNode.tsx
  view/desktop/src/components/Tree/hooks/useCreateNewCollectionFromTreeNodeEvent.ts
  view/desktop/src/components/Tree/hooks/useDraggableRootNode.ts
  view/desktop/src/components/Tree/hooks/useDropTargetRootNode.tsx
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
  view/desktop/src/components/Tree/hooks/useMoveTreeNodeEvent.ts
  view/desktop/src/components/Tree/utils.ts
Labels: none

minor refactor
  crates/moss-common/src/sanitized.rs
Labels: none

chore
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

fix(Tree): Update drop target type checks to use consistent naming for root node
  view/desktop/src/components/CollectionTreeView.tsx
  view/desktop/src/components/Tree/hooks/useDraggableRootNode.ts
Labels: none

refactor: rename `path` method to `abs_path` for clarity and update references in collection management
  crates/moss-collection/src/collection.rs
  crates/moss-workspace/src/api/delete_collection.rs
  crates/moss-workspace/src/api/update_collection.rs
Labels: none

update `create_file_with` method to accept byte slices instead of Strings for improved flexibility in file content handling
  crates/moss-collection/src/worktree.rs
  crates/moss-environment/src/environment.rs
  crates/moss-fs/src/lib.rs
  crates/moss-fs/src/real.rs
Labels: none

implement `CollectionStorage`
  crates/moss-collection/src/api/stream_entries_by_prefixes.rs
  crates/moss-collection/src/collection.rs
  crates/moss-storage/src/lib.rs
  crates/moss-storage/src/obsolete/collection_storage.rs
  crates/moss-storage/src/obsolete/collection_storage/entities.rs
  crates/moss-storage/src/obsolete/collection_storage/entities/request_store_entities.rs
  crates/moss-storage/src/obsolete/collection_storage/entities/state_store_entries.rs
  crates/moss-storage/src/obsolete/collection_storage/request_store.rs
  crates/moss-storage/src/obsolete/collection_storage/state_store.rs
  crates/moss-storage/src/obsolete/collection_storage/storage_impl.rs
  crates/moss-storage/src/storage.rs
  crates/moss-storage/src/storages.rs
  crates/moss-storage/src/storages/collection_storage.rs
  crates/moss-storage/src/storages/collection_storage/entities.rs
  crates/moss-storage/src/storages/collection_storage/entities/variable_store_entities.rs
  crates/moss-storage/src/storages/collection_storage/stores.rs
  crates/moss-storage/src/storages/collection_storage/stores/variable_store.rs
  crates/moss-storage/src/storages/collection_storage/tables.rs
  crates/moss-storage/src/storages/workspace_storage/entities.rs
  crates/moss-storage/src/storages/workspace_storage/tables.rs
Labels: none

remove old `CollectionStorage`
  crates/moss-storage/src/obsolete/collection_storage.rs
  crates/moss-storage/src/obsolete/collection_storage/entities.rs
  crates/moss-storage/src/obsolete/collection_storage/entities/request_store_entities.rs
  crates/moss-storage/src/obsolete/collection_storage/entities/state_store_entries.rs
  crates/moss-storage/src/obsolete/collection_storage/request_store.rs
  crates/moss-storage/src/obsolete/collection_storage/state_store.rs
  crates/moss-storage/src/obsolete/collection_storage/storage_impl.rs
Labels: none

feat(Tree): Enhance DropIndicatorWithInstruction component by adding gap and style props for improved customization
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
Labels: none

refactor: update imports to use `sanitized_name` module and add new word to spell checker
  .vscode/settings.json
  crates/moss-collection/src/api/update_request_dir_entry.rs
  crates/moss-collection/src/api/update_request_entry.rs
  crates/moss-collection/tests/collection_create_request_entry.rs
  crates/moss-collection/tests/collection_delete_request_dir_entry.rs
  crates/moss-collection/tests/collection_delete_request_entry.rs
  crates/moss-collection/tests/collection_update_request_dir_entry.rs
  crates/moss-collection/tests/collection_update_request_entry.rs
  crates/moss-common/src/id_registry.rs
  crates/moss-common/src/sanitized.rs
Labels: none

refactored `sanitize` and `desanitize` functions in the new `sanitized` module, and create `SanitizedName` struct for managing sanitized names
  crates/moss-collection/tests/shared/mod.rs
  crates/moss-common/src/sanitized/mod.rs
  crates/moss-common/src/sanitized/sanitized_name.rs
Labels: none

fix(Tree): Update instruction block for folder nodes to include 'reorder-below' action
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
Labels: none

refactor: remove redundant test for forbidden character sanitization and enhance `SanitizedName` struct with Deref implementation and additional methods for original name access
  crates/moss-common/src/sanitized/mod.rs
  crates/moss-common/src/sanitized/sanitized_name.rs
Labels: none

refactor: clean up unused imports and remove commented-out code in models and collections for improved readability
  crates/moss-collection/src/collection.rs
  crates/moss-common/src/leased_slotmap/iterator.rs
  crates/moss-common/src/leased_slotmap/lease_guard.rs
  crates/moss-common/src/leased_slotmap/recourse_key.rs
  crates/moss-common/src/lib.rs
  crates/moss-common/src/models/primitives.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/models/types.rs
Labels: none

simplify Makefile command by removing unnecessary '@' from rm command in gen_bindings target
  Makefile
Labels: makefile

Bindings generation
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/bindings/types.ts
  crates/moss-workspace/bindings/types.zod.ts
Labels: none

fix(Tree): Consolidate background removal logic for drop target events in useDropTargetRootNode hook
  view/desktop/src/components/Tree/hooks/useDropTargetRootNode.tsx
Labels: none

reintroduce reset mechanism to `CollectionStorage`
  crates/moss-collection/src/collection.rs
  crates/moss-storage/src/storages.rs
  crates/moss-storage/src/storages/collection_storage.rs
  crates/moss-storage/src/storages/workspace_storage/stores/variable_store.rs
Labels: none

fixed react devtools restarting every 2 seconds
  view/desktop/src/main.tsx
Labels: none

some how dnd to folder started working normally
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
Labels: none

feat(Tree): Add isLastChild prop to TreeNode component and update useInstructionNode hook to handle last child logic for drag-and-drop actions
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
  view/desktop/src/components/Tree/types.ts
Labels: none

fix(Tree): Restore and reposition 'Delete User' node in SapicTestCollection.json; enhance DropIndicatorWithInstruction and TreeNode components with padding and folder handling
  view/desktop/src/assets/SapicTestCollection.json
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/TreeRootNode.tsx
  view/desktop/src/components/Tree/hooks/useDropTargetRootNode.tsx
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
Labels: none

chore
  view/desktop/src/components/Tree/hooks/useDropTargetRootNode.tsx
Labels: none

fix(Tree): Refactor useInstructionNode hook to remove 'reorder-below' action for last child and rename onDragLeave to onDropTargetChange
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
Labels: none

fix(Tree): Update condition for DropIndicatorWithInstruction to check for canDrop being true
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

chore
  view/desktop/src/parts/HeadBar/CollapsibleActionMenu.tsx
Labels: none

feat(Tree): Enhance DropIndicatorWithInstruction and TreeNode components to support depth-based styling and logging for drag-and-drop actions
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
Labels: none

chore
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
Labels: none

fix(Tree): Refactor DropIndicatorWithInstruction for improved styling and logic; update useInstructionNode to handle expanded nodes
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
Labels: none

chore
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

fix(Tree): Refactor DropIndicatorWithInstruction to improve conditional rendering and styling for 'make-child' instruction
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
Labels: none

refactoring
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
Labels: none

Refactor DropIndicatorWithInstruction
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
Labels: none

feat(Tree): Add isLastChild prop to DropIndicatorWithInstruction and TreeNode components for improved drag-and-drop behavior
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
  view/desktop/src/components/Tree/TreeNode.tsx
Labels: none

fix workspace creation path
  crates/moss-workbench/src/api/create_workspace.rs
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: github_actions

change `VariableStore` to store value as `AnyValue`
  crates/moss-storage/src/storages.rs
  crates/moss-storage/src/storages/collection_storage.rs
  crates/moss-storage/src/storages/collection_storage/stores/variable_store.rs
  crates/moss-storage/src/storages/collection_storage/tables.rs
  crates/moss-storage/src/storages/workspace_storage.rs
  crates/moss-storage/src/storages/workspace_storage/stores/variable_store.rs
  crates/moss-storage/src/storages/workspace_storage/tables.rs
Labels: none

added blocking reorder below
  view/desktop/src/components/Tree/hooks/useInstructionNode.ts
Labels: none

style(Tree): Update DropIndicatorWithInstruction to use full width and change background color for improved visibility
  view/desktop/src/components/Tree/DropIndicatorWithInstruction.tsx
Labels: none

.github/labeler.yml:

github_actions:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

makefile:
  - changed-files:
      - any-glob-to-any-file: 'Makefile'
