Repository moss-foundation/sapic, pull requests merged in 2025-06, with the labels that each got.

#181 devops(SAPIC-289): Reorganize Python script management
  .python-version
  Makefile
  lefthook.yml
  misc/requirements.txt
  packages/config-eslint/moss-lint-plugin/css_variables.json
  pyproject.toml
  scripts/css_variables_exporter.py
  scripts/svg_component_generator.py
  uv.lock
Labels: makefile

#193 feat(SAPIC-251): Preparing everything needed on the backend and implementing the logs API
  .github/workflows/ci.yml
  Cargo.lock
  crates/moss-logging/Cargo.toml
  crates/moss-logging/bindings/operations.ts
  crates/moss-logging/bindings/operations.zod.ts
  crates/moss-logging/constants.ts
  crates/moss-logging/index.ts
  crates/moss-logging/src/constants.rs
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/makewriter.rs
  crates/moss-logging/src/models/operations.rs
  crates/moss-logging/src/models/types.rs
  pnpm-lock.yaml
  view/desktop/bin/src/commands/app.rs
  view/desktop/bin/src/services.rs
  view/desktop/package.json
  view/desktop/src/pages/LogsPage.tsx
Labels: github_actions

#197 Fix argon2 options in moss_db
  crates/moss-db/src/encrypted_bincode_table.rs
Labels: codex

#198 Parallelize Rust tests in CI
  .github/workflows/ci.yml
Labels: github_actions, codex

#200 devops(SAPIC-300): Updating Dependabot settings
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: github_actions

#207 Fix CSS variable formatting in Makefile
  Makefile
Labels: makefile, codex

#217 feat(SAPIC-280): Implement close workspace functionality
  .github/labeler.yml
  Cargo.lock
  crates/moss-app/src/api/describe_state.rs
  crates/moss-common/src/api.rs
  crates/moss-workbench/Cargo.toml
  crates/moss-workbench/bindings/operations.ts
  crates/moss-workbench/bindings/operations.zod.ts
  crates/moss-workbench/src/api.rs
  crates/moss-workbench/src/api/close_workspace.rs
  crates/moss-workbench/src/api/create_workspace.rs
  crates/moss-workbench/src/api/delete_workspace.rs
  crates/moss-workbench/src/api/describe_state.rs
  crates/moss-workbench/src/api/open_workspace.rs
  crates/moss-workbench/src/api/update_workspace.rs
  crates/moss-workbench/src/models/operations.rs
  crates/moss-workbench/src/workbench.rs
  crates/moss-workbench/tests/workbench__close_workspace.rs
  crates/moss-workbench/tests/workbench__create_workspace.rs
  crates/moss-workbench/tests/workbench__delete_workspace.rs
  crates/moss-workbench/tests/workbench__open_workspace.rs
  crates/moss-workbench/tests/workbench__rename_workspace.rs
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/commands/collection.rs
  view/desktop/bin/src/commands/workbench.rs
  view/desktop/bin/src/commands/workspace.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/lib/backend/tauri.ts
Labels: github_actions

#221 devops(SAPIC-330) Fix the tests in CI
  .github/workflows/ci.yml
  crates/moss-fs/src/real.rs
  crates/moss-workbench/src/api/delete_workspace.rs
Labels: github_actions

#227 fix(SAPIC-340): Eslint bugs
  .github/workflows/ci.yml
  .npmrc
  Makefile
  packages/config-eslint/configs/default.js
  packages/config-eslint/eslint.config.js
  packages/config-eslint/index.js
  packages/config-eslint/moss-lint-plugin/rules/only-valid-token-names.js
  packages/config-eslint/moss-lint-plugin/rules/only-valid-token-names.test.js
  packages/config-eslint/moss-lint-plugin/rules/tw-no-bg-with-arbitrary-value.js
  packages/config-eslint/moss-lint-plugin/rules/tw-no-bg-with-arbitrary-value.test.js
  packages/config-eslint/moss-lint-plugin/rules/tw-no-old-syntax-for-arbitrary-values.js
  packages/config-eslint/moss-lint-plugin/rules/tw-no-old-syntax-for-arbitrary-values.test.js
  packages/config-eslint/package.json
  pnpm-lock.yaml
  view/desktop/eslint.config.js
  view/desktop/package.json
  view/desktop/src/components/ActivityEventSimulator.tsx
  view/desktop/src/context/ActivityEventsContext.tsx
  view/desktop/src/parts/StatusBar/StatusBarActivity.tsx
Labels: github_actions, makefile

#220 devops(SAPIC-316) Grit integration PoC
  .github/scripts/rust_grit_check.py
  .github/scripts/rust_warnings_check.py
  .github/workflows/ci.yml
  .grit/.gitignore
  .grit/grit.yaml
  .grit/patterns/rust/no_dbg_outside_of_tests.md
  .grit/patterns/rust/no_stuff_between_test_directive_and_function.md
  crates/moss-app/src/services/log_service.rs
  crates/moss-git-hosting-provider/src/common/ssh_auth_agent.rs
  crates/moss-git-hosting-provider/src/github/auth.rs
  crates/moss-git-hosting-provider/src/github/client.rs
  crates/moss-git-hosting-provider/src/gitlab/auth.rs
  crates/moss-git-hosting-provider/src/gitlab/client.rs
  crates/moss-git/src/repo.rs
  crates/moss-keyring/src/lib.rs
  package.json
  pnpm-lock.yaml
  view/desktop/bin/src/lib.rs
Labels: github_actions

#228 feat(SAPIC-268): Added the ability to set a collection repo and upload an avatar image
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  Cargo.lock
  Cargo.toml
  crates/moss-activity-indicator/bindings/events.ts
  crates/moss-activity-indicator/bindings/events.zod.ts
  crates/moss-activity-indicator/index.ts
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/lib.rs
  crates/moss-collection/src/manifest.rs
  crates/moss-collection/src/services.rs
  crates/moss-collection/src/services/set_icon.rs
  crates/moss-collection/tests/shared/mod.rs
  crates/moss-common/src/api.rs
  crates/moss-workspace/Cargo.toml
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/src/api/create_collection.rs
  crates/moss-workspace/src/api/update_collection.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace__create_collection.rs
  crates/moss-workspace/tests/workspace__delete_collection.rs
  crates/moss-workspace/tests/workspace__update_collection.rs
Labels: github_actions, bindings

#237 feat(SAPIC-328): Preparing config structures
  .gitignore
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/moss-collection/Cargo.toml
  crates/moss-collection/bindings/types.ts
  crates/moss-collection/bindings/types.zod.ts
  crates/moss-collection/src/api/create_entry.rs
  crates/moss-collection/src/api/stream_entries.rs
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/lib.rs
  crates/moss-collection/src/models/types.rs
  crates/moss-collection/src/models/types/configuration/common.rs
  crates/moss-collection/src/models/types/configuration/component.rs
  crates/moss-collection/src/models/types/configuration/dir.rs
  crates/moss-collection/src/models/types/configuration/docschema/component.rs
  crates/moss-collection/src/models/types/configuration/docschema/endpoint.rs
  crates/moss-collection/src/models/types/configuration/docschema/mod.rs
  crates/moss-collection/src/models/types/configuration/docschema/request.rs
  crates/moss-collection/src/models/types/configuration/docschema/schema.rs
  crates/moss-collection/src/models/types/configuration/endpoint.rs
  crates/moss-collection/src/models/types/configuration/item.rs
  crates/moss-collection/src/models/types/configuration/mod.rs
  crates/moss-collection/src/models/types/configuration/request.rs
  crates/moss-collection/src/models/types/configuration/schema.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-collection/tests/collection__create_entry.rs
  crates/moss-collection/tests/collection__delete_entry.rs
  crates/moss-collection/tests/collection__stream_entries.rs
  crates/moss-common/Cargo.toml
  crates/moss-common/src/api.rs
  crates/moss-hcl/Cargo.toml
  crates/moss-hcl/LICENSE-MIT
  crates/moss-hcl/src/lib.rs
  crates/moss-hcl/src/object.rs
  crates/moss-workspace/bindings/events.ts
  crates/moss-workspace/bindings/events.zod.ts
  crates/moss-workspace/src/api/stream_collections.rs
  crates/moss-workspace/src/models/events.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/models/types.rs
  lefthook.yml
  view/desktop/.gitignore
  view/desktop/src/components/CollectionTree/TreeNode/TreeNode.tsx
  view/desktop/src/components/CollectionTree/TreeNode/TreeNodeButton.tsx
  view/desktop/src/components/CollectionTree/TreeRootNode/TreeRootNode.tsx
  view/desktop/src/components/CollectionTree/TreeRootNode/TreeRootNodeButton.tsx
  view/desktop/src/components/CollectionTree/TreeRootNode/hooks/useRootNodeAddForm.ts
  view/desktop/src/components/CollectionTree/hooks/useNodeAddForm.ts
  view/desktop/src/components/CollectionTree/utils/TreeRootUtils.ts
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
  view/desktop/src/store/collections/index.ts
  view/desktop/src/store/collections/utils/getClassAndProtocolFromEntyInput.ts
Labels: bindings
