Repository moss-foundation/sapic, pull requests merged in 2025-09, with the labels that each got.

#360 feat(SAPIC-498): Implementation of collection archiving feature
  crates/moss-collection/src/api/common.rs
  crates/moss-collection/src/api/delete_entry.rs
  crates/moss-collection/src/api/stream_entries.rs
  crates/moss-collection/src/builder.rs
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/config.rs
  crates/moss-collection/src/worktree.rs
  crates/moss-workspace/bindings/events.ts
  crates/moss-workspace/bindings/events.zod.ts
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/src/api.rs
  crates/moss-workspace/src/api/archive_collection.rs
  crates/moss-workspace/src/api/stream_collections.rs
  crates/moss-workspace/src/api/unarchive_collection.rs
  crates/moss-workspace/src/models/events.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/services/collection_service.rs
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace__archive_collection.rs
  crates/moss-workspace/tests/workspace__unarchive_collection.rs
  view/desktop/bin/src/commands/workspace.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/lib/backend/tauri.ts
Labels: bindings

#362 feat(SAPIC-499) Implementation of Collection Archive Export/Import Feature
  Cargo.lock
  Cargo.toml
  crates/moss-collection/src/builder.rs
  crates/moss-collection/src/collection.rs
  crates/moss-fs/Cargo.toml
  crates/moss-fs/src/lib.rs
  crates/moss-fs/src/real.rs
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/bindings/types.ts
  crates/moss-workspace/bindings/types.zod.ts
  crates/moss-workspace/src/api.rs
  crates/moss-workspace/src/api/export_collection.rs
  crates/moss-workspace/src/api/import_collection.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/src/services/collection_service.rs
  crates/moss-workspace/tests/workspace__export_collection.rs
  view/desktop/bin/src/commands/workspace.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/lib/backend/tauri.ts
Labels: bindings

#358 feat(SAPIC-505): Implementing provider authorization through the server
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/moss-app/Cargo.toml
  crates/moss-app/src/builder.rs
  crates/moss-app/src/services/profile_service.rs
  crates/moss-app/tests/shared/mod.rs
  crates/moss-asp/Cargo.toml
  crates/moss-asp/src/lib.rs
  crates/moss-git-hosting-provider/Cargo.toml
  crates/moss-git-hosting-provider/examples/github_worker_auth.rs
  crates/moss-git-hosting-provider/examples/gitlab_worker_auth.rs
  crates/moss-git-hosting-provider/src/github/auth.rs
  crates/moss-git-hosting-provider/src/gitlab/auth.rs
  crates/moss-git-hosting-provider/src/gitlab/mod.rs
  crates/moss-git-hosting-provider/src/lib.rs
  crates/moss-git-hosting-provider/src/utils.rs
  crates/moss-server-api/Cargo.toml
  crates/moss-server-api/LICENSE-MIT
  crates/moss-server-api/src/account_auth_gateway.rs
  crates/moss-server-api/src/lib.rs
  crates/moss-user/Cargo.toml
  crates/moss-user/src/account.rs
  crates/moss-user/src/account/github.rs
  crates/moss-user/src/account/gitlab.rs
  crates/moss-workspace/Cargo.toml
  crates/moss-workspace/tests/shared/mod.rs
  libs/joinerror/src/ext.rs
  pnpm-lock.yaml
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/lib.rs
Labels: github_actions

#349 devops(SAPIC-352): Extend cargo with a flag for creating a crate with bindings
  .idea/sapic.iml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/moss-activity-broadcaster/package.json
  tools/cargo-new-ts/Cargo.toml
  tools/cargo-new-ts/LICENSE-MIT
  tools/cargo-new-ts/src/main.rs
Labels: makefile

#366 feat(SAPIC-506): FS Rollback integration | Collection/Workspace Module
  Cargo.lock
  Makefile
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/src/services/workspace_service.rs
  crates/moss-app/tests/app__delete_workspace.rs
  crates/moss-app/tests/shared/mod.rs
  crates/moss-collection/src/builder.rs
  crates/moss-collection/src/collection.rs
  crates/moss-collection/tests/shared/mod.rs
  crates/moss-fs/Cargo.toml
  crates/moss-fs/src/lib.rs
  crates/moss-fs/src/real.rs
  crates/moss-workspace/src/services/collection_service.rs
  crates/moss-workspace/tests/shared/mod.rs
  libs/atomic-fs/Cargo.toml
  libs/atomic-fs/src/lib.rs
  libs/atomic-fs/tests/create_dir.rs
  libs/atomic-fs/tests/create_dir_all.rs
  libs/atomic-fs/tests/create_file.rs
  libs/atomic-fs/tests/create_file_with.rs
  libs/atomic-fs/tests/remove_dir.rs
  libs/atomic-fs/tests/remove_file.rs
  libs/atomic-fs/tests/rename.rs
  libs/atomic-fs/tests/rollback.rs
  libs/atomic-fs/tests/shared/mod.rs
  view/desktop/bin/src/lib.rs
Labels: makefile

#376 feat(SAPIC-522): Providing profile information to the frontend
  Cargo.lock
  crates/moss-app/bindings/operations.ts
  crates/moss-app/bindings/operations.zod.ts
  crates/moss-app/bindings/types.ts
  crates/moss-app/bindings/types.zod.ts
  crates/moss-app/package.json
  crates/moss-app/src/api/create_workspace.rs
  crates/moss-app/src/api/describe_app.rs
  crates/moss-app/src/api/mod.rs
  crates/moss-app/src/api/open_workspace.rs
  crates/moss-app/src/app.rs
  crates/moss-app/src/builder.rs
  crates/moss-app/src/lib.rs
  crates/moss-app/src/models/operations.rs
  crates/moss-app/src/models/types.rs
  crates/moss-app/src/profile.rs
  crates/moss-app/src/services.rs
  crates/moss-app/src/services/configuration_service.rs
  crates/moss-app/src/services/profile_service.rs
  crates/moss-app/tests/app__cancel_request.rs
  crates/moss-app/tests/app__close_workspace.rs
  crates/moss-app/tests/app__delete_workspace.rs
  crates/moss-app/tests/app__update_profile.rs
  crates/moss-app/tests/shared/mod.rs
  crates/moss-common/Cargo.toml
  crates/moss-common/src/collections.rs
  crates/moss-common/src/collections/nonempty_hashmap.rs
  crates/moss-common/src/collections/nonempty_vec.rs
  crates/moss-common/src/lib.rs
  crates/moss-user/src/profile.rs
  pnpm-lock.yaml
  view/desktop/bin/src/commands/app.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/pages/LogsPage/LogsPage.tsx
Labels: bindings

#377 feat(SAPIC-461) Workspace vcs api
  .idea/sapic.iml
  Cargo.lock
  crates/moss-fs/src/lib.rs
  crates/moss-fs/src/real.rs
  crates/moss-git/Cargo.toml
  crates/moss-git/src/errors.rs
  crates/moss-git/src/lib.rs
  crates/moss-git/src/repository.rs
  crates/moss-project/bindings/operations.ts
  crates/moss-project/bindings/operations.zod.ts
  crates/moss-project/bindings/types.ts
  crates/moss-project/bindings/types.zod.ts
  crates/moss-project/src/api.rs
  crates/moss-project/src/api/execute_vcs_operation.rs
  crates/moss-project/src/models/operations.rs
  crates/moss-project/src/models/types.rs
  crates/moss-project/src/vcs.rs
  crates/moss-project/src/worktree.rs
  crates/moss-workspace/src/models/types.rs
  view/desktop/bin/src/commands/project.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/git/FileStatuses.tsx
  view/desktop/src/git/GitTest.tsx
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/pages/LogsPage/LogsPage.tsx
Labels: bindings

#381 feat(SAPIC-530): Implementation of the settings update mechanism
  .cursor/rules/writing-rust-integration-tests.mdc
  .cursorignore
  AGENT.md
  Cargo.lock
  crates/moss-app-delegate/Cargo.toml
  crates/moss-app-delegate/src/lib.rs
  crates/moss-app/Cargo.toml
  crates/moss-app/bindings/constants.ts
  crates/moss-app/bindings/events.ts
  crates/moss-app/bindings/events.zod.ts
  crates/moss-app/bindings/operations.ts
  crates/moss-app/bindings/operations.zod.ts
  crates/moss-app/bindings/primitives.ts
  crates/moss-app/bindings/primitives.zod.ts
  crates/moss-app/bindings/types.ts
  crates/moss-app/bindings/types.zod.ts
  crates/moss-app/src/api/create_workspace.rs
  crates/moss-app/src/api/list_logs.rs
  crates/moss-app/src/api/mod.rs
  crates/moss-app/src/api/set_color_theme.rs
  crates/moss-app/src/api/set_locale.rs
  crates/moss-app/src/api/update_configuration.rs
  crates/moss-app/src/api/update_workspace.rs
  crates/moss-app/src/app.rs
  crates/moss-app/src/builder.rs
  crates/moss-app/src/configuration.rs
  crates/moss-app/src/configuration/edit.rs
  crates/moss-app/src/internal/events.rs
  crates/moss-app/src/internal/mod.rs
  crates/moss-app/src/lib.rs
  crates/moss-app/src/locale.rs
  crates/moss-app/src/locale/registry.rs
  crates/moss-app/src/logging.rs
  crates/moss-app/src/logging/rollinglog_writer.rs
  crates/moss-app/src/logging/taurilog_writer.rs
  crates/moss-app/src/models/events.rs
  crates/moss-app/src/models/operations.rs
  crates/moss-app/src/models/primitives.rs
  crates/moss-app/src/models/types.rs
  crates/moss-app/src/profile.rs
  crates/moss-app/src/profile/registry.rs
  crates/moss-app/src/services.rs
  crates/moss-app/src/services/configuration_service.rs
  crates/moss-app/src/services/locale_service.rs
  crates/moss-app/src/services/profile_service.rs
  crates/moss-app/src/services/session_service.rs
  crates/moss-app/src/session.rs
  crates/moss-app/src/storage.rs
  crates/moss-app/src/storage/mod.rs
  crates/moss-app/src/theme.rs
  crates/moss-app/src/workspace.rs
  crates/moss-app/tests/app__update_configuration.rs
  view/desktop/bin/src/commands/app.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/pages/LogsPage/LogsPage.tsx
Labels: bindings

#380 feat(SAPIC-529): Implementation of crud functionality for endpoint parameters
  crates/moss-project/bindings/operations.ts
  crates/moss-project/bindings/operations.zod.ts
  crates/moss-project/bindings/types.ts
  crates/moss-project/bindings/types.zod.ts
  crates/moss-project/src/api.rs
  crates/moss-project/src/api/common.rs
  crates/moss-project/src/api/describe_entry.rs
  crates/moss-project/src/models/operations.rs
  crates/moss-project/src/models/primitives.rs
  crates/moss-project/src/models/types.rs
  crates/moss-project/src/models/types/http.rs
  crates/moss-project/src/services/storage_service.rs
  crates/moss-project/src/storage/segments.rs
  crates/moss-project/src/worktree.rs
  crates/moss-project/src/worktree/entry/edit.rs
  crates/moss-project/src/worktree/entry/model.rs
  crates/moss-project/tests/project__batch_create_entry.rs
  crates/moss-project/tests/project__create_entry.rs
  crates/moss-project/tests/project__update_entry.rs
  crates/moss-project/tests/shared/mod.rs
  view/desktop/bin/src/commands/project.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/lib/backend/tauri.ts
Labels: bindings

#386 feat(SAPIC-538): Implement validation of the JSON representation of the theme using a Rego policy
  .github/workflows/ci.yml
  .idea/sapic.iml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/moss-app/Cargo.toml
  crates/moss-app/src/lib.rs
  crates/moss-app/src/theme.rs
  crates/moss-app/src/theme/conversion.rs
  crates/moss-app/src/theme/install.rs
  crates/moss-app/src/theme/models.rs
  crates/moss-app/src/theme/models/primitives.rs
  crates/moss-app/src/theme/models/types.rs
  crates/moss-app/src/theme/validation.rs
  crates/moss-theme/Cargo.toml
  crates/moss-theme/LICENSE-MIT
  crates/moss-theme/src/lib.rs
  policies/theme.rego
  policies/theme_test.rego
  tools/theme-install/Cargo.toml
  tools/theme-install/src/main.rs
Labels: github_actions, makefile

#392 devops(SAPIC-545): Add running tests for the library crates
  .github/workflows/ci.yml
  libs/atomic-fs/Cargo.toml
  libs/joinerror/Cargo.toml
  libs/static-json/Cargo.toml
Labels: github_actions
