Repository moss-foundation/sapic, pull requests merged in 2025-08, with the labels that each got.

#292 devops(SAPIC-418): Add warning checks for test files
  .github/scripts/rust_warnings_check.py
Labels: github_actions

#288 feat(SAPIC-408): Implementation of Request page
  assets/themes/dark.css
  assets/themes/light.css
  package.json
  packages/config-eslint/moss-lint-plugin/css_variables.json
  view/desktop/src/components/Breadcrumbs/Breadcrumbs.tsx
  view/desktop/src/components/CollectionTree/TreeNode/TreeNodeButton.tsx
  view/desktop/src/components/InputTemplating.tsx
  view/desktop/src/components/PageContainer/PageContainerTabs.tsx
  view/desktop/src/components/PageContainer/PageContainerWithTabs.tsx
  view/desktop/src/components/PageContainer/types.ts
  view/desktop/src/components/Table/DataTable.tsx
  view/desktop/src/components/Table/columns.tsx
  view/desktop/src/components/Table/hooks/useAdjustColumnsWithoutSizes.ts
  view/desktop/src/components/Table/hooks/useTableDragAndDrop.ts
  view/desktop/src/components/Table/index.ts
  view/desktop/src/components/Table/types.ts
  view/desktop/src/components/Table/ui/DefaultCell.tsx
  view/desktop/src/components/Table/ui/DefaultCellInput.tsx
  view/desktop/src/components/Table/ui/DefaultHeader.tsx
  view/desktop/src/components/Table/ui/DefaultRow.tsx
  view/desktop/src/components/Table/ui/DefaultRowForm.tsx
  view/desktop/src/components/Table/ui/NoDataRow.tsx
  view/desktop/src/hooks/collection/derivedHooks/useCollectionsTrees.ts
  view/desktop/src/pages/FolderSettingsPage/FolderSettingsPage.tsx
  view/desktop/src/pages/FolderSettingsPage/tabs/OverviewTabContent.tsx
  view/desktop/src/pages/KitchenSinkPage/KitchenSinkPage.tsx
  view/desktop/src/pages/RequestPage/RequestInputField.tsx
  view/desktop/src/pages/RequestPage/RequestPage.tsx
  view/desktop/src/pages/RequestPage/index.ts
  view/desktop/src/pages/RequestPage/tabs/AuthTabContent.tsx
  view/desktop/src/pages/RequestPage/tabs/BodyTabContent.tsx
  view/desktop/src/pages/RequestPage/tabs/HeadersTabContent.tsx
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/ParamsTabContent.tsx
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/cells/ActionsCell.tsx
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/cells/EnabledCheckboxCell.tsx
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/cells/EnabledHeaderCheckbox.tsx
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/cells/TypeSelectCell.tsx
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/cells/index.ts
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/columns.tsx
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/data.ts
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/index.ts
  view/desktop/src/pages/RequestPage/tabs/ParamsTab/types.ts
  view/desktop/src/pages/RequestPage/tabs/PostRequestTabContent.tsx
  view/desktop/src/pages/RequestPage/tabs/PreRequestTabContent.tsx
  view/desktop/src/pages/RequestPage/tabs/index.ts
  view/desktop/src/pages/RequestPage/utils/index.ts
  view/desktop/src/pages/RequestPage/utils/parameterSuggestions.ts
  view/desktop/src/pages/RequestPage/utils/urlParser.ts
  view/desktop/src/pages/index.ts
  view/desktop/src/parts/TabbedPane/TabbedPane.tsx
  view/desktop/src/store/requestPage/index.ts
  view/desktop/src/utils/templating.ts
Labels: bindings

#308 feat(SAPIC-432): Integrating storage into environment operations
  .idea/sapic.iml
  Cargo.lock
  crates/moss-app/src/services/workspace_service.rs
  crates/moss-edit/src/json.rs
  crates/moss-environment/Cargo.toml
  crates/moss-environment/bindings/types.ts
  crates/moss-environment/bindings/types.zod.ts
  crates/moss-environment/src/builder.rs
  crates/moss-environment/src/edit.rs
  crates/moss-environment/src/environment.rs
  crates/moss-environment/src/lib.rs
  crates/moss-environment/src/models/types.rs
  crates/moss-environment/src/segments.rs
  crates/moss-storage/Cargo.toml
  crates/moss-storage/src/storages/common.rs
  crates/moss-storage/src/storages/common/variable_store.rs
  crates/moss-workspace/bindings/events.ts
  crates/moss-workspace/bindings/events.zod.ts
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/bindings/types.ts
  crates/moss-workspace/bindings/types.zod.ts
  crates/moss-workspace/src/api.rs
  crates/moss-workspace/src/api/delete_environment.rs
  crates/moss-workspace/src/builder.rs
  crates/moss-workspace/src/edit.rs
  crates/moss-workspace/src/models/events.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/services/environment_service.rs
  crates/moss-workspace/src/services/storage_service.rs
  crates/moss-workspace/src/storage/segments.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/tests/shared/mod.rs
  crates/moss-workspace/tests/workspace__create_environment.rs
  crates/moss-workspace/tests/workspace__delete_environment.rs
  crates/moss-workspace/tests/workspace__update_environment.rs
  view/desktop/bin/src/commands/workspace.rs
  view/desktop/bin/src/lib.rs
Labels: bindings

#314 feat(SAPIC-455): Finalizing the basic environment API
  crates/moss-app/src/services/workspace_service.rs
  crates/moss-common/src/lib.rs
  crates/moss-environment/src/builder.rs
  crates/moss-environment/src/environment.rs
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/src/api/create_environment.rs
  crates/moss-workspace/src/builder.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/services/environment_service.rs
  crates/moss-workspace/tests/workspace__create_environment.rs
  crates/moss-workspace/tests/workspace__delete_environment.rs
  crates/moss-workspace/tests/workspace__update_environment.rs
Labels: bindings

#315 refactor(SAPIC-443): Rethinking the concept of logs and fully integrating them into the application
  .github/workflows/ci.yml
  .idea/sapic.iml
  Cargo.lock
  Cargo.toml
  crates/moss-app/Cargo.toml
  crates/moss-app/src/api/batch_delete_log.rs
  crates/moss-app/src/api/list_logs.rs
  crates/moss-app/src/models/operations.rs
  crates/moss-app/src/models/primitives.rs
  crates/moss-app/src/models/types.rs
  crates/moss-app/src/services/log_service.rs
  crates/moss-app/src/services/storage_service.rs
  crates/moss-app/tests/app__batch_delete_logs.rs
  crates/moss-app/tests/app__cancel_request.rs
  crates/moss-app/tests/app__close_workspace.rs
  crates/moss-app/tests/app__create_workspace.rs
  crates/moss-app/tests/app__delete_workspace.rs
  crates/moss-app/tests/app__list_logs.rs
  crates/moss-app/tests/app__open_workspace.rs
  crates/moss-app/tests/app__rename_workspace.rs
  crates/moss-logging/Cargo.toml
  crates/moss-logging/LICENSE-MIT
  crates/moss-logging/src/lib.rs
  crates/moss-logging/src/models.rs
  crates/moss-logging/src/models/primitives.rs
  libs/joinerror/src/ext.rs
  view/desktop/bin/src/plugins.rs
Labels: github_actions

#324 feat(SAPIC-462): Adjustment of returned data during streaming
  Cargo.lock
  crates/moss-app/src/models/operations.rs
  crates/moss-app/tests/app__close_workspace.rs
  crates/moss-app/tests/app__create_workspace.rs
  crates/moss-app/tests/app__delete_workspace.rs
  crates/moss-app/tests/app__open_workspace.rs
  crates/moss-app/tests/app__rename_workspace.rs
  crates/moss-storage/src/storages/global_storage/stores/item_store.rs
  crates/moss-storage/src/storages/workspace_storage/stores.rs
  crates/moss-storage/src/storages/workspace_storage/stores/item_store.rs
  crates/moss-workspace/Cargo.toml
  crates/moss-workspace/bindings/events.ts
  crates/moss-workspace/bindings/events.zod.ts
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/bindings/primitives.ts
  crates/moss-workspace/bindings/primitives.zod.ts
  crates/moss-workspace/bindings/types.ts
  crates/moss-workspace/bindings/types.zod.ts
  crates/moss-workspace/src/api.rs
  crates/moss-workspace/src/api/batch_update_environment.rs
  crates/moss-workspace/src/api/batch_update_environment_group.rs
  crates/moss-workspace/src/api/create_environment.rs
  crates/moss-workspace/src/api/stream_environments.rs
  crates/moss-workspace/src/api/update_collection.rs
  crates/moss-workspace/src/api/update_environment.rs
  crates/moss-workspace/src/api/update_environment_group.rs
  crates/moss-workspace/src/builder.rs
  crates/moss-workspace/src/models/events.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/models/primitives.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/src/services/collection_service.rs
  crates/moss-workspace/src/services/environment_service.rs
  crates/moss-workspace/src/services/storage_service.rs
  crates/moss-workspace/src/storage/entities/mod.rs
  crates/moss-workspace/src/storage/entities/variable_store.rs
  crates/moss-workspace/src/storage/mod.rs
  crates/moss-workspace/src/storage/segments.rs
  crates/moss-workspace/tests/workspace__create_environment.rs
  crates/moss-workspace/tests/workspace__delete_environment.rs
  crates/moss-workspace/tests/workspace__update_collection.rs
  crates/moss-workspace/tests/workspace__update_environment.rs
  view/desktop/bin/src/commands/workspace.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/lib/backend/tauri.ts
Labels: bindings

#322 feat(SAPIC-459): Returning information about the current branch
  Cargo.lock
  Makefile
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/builder.rs
  crates/moss-collection/src/collection.rs
  crates/moss-collection/src/helpers.rs
  crates/moss-collection/src/lib.rs
  crates/moss-collection/src/manifest.rs
  crates/moss-collection/src/services.rs
  crates/moss-collection/src/services/git_service.rs
  crates/moss-git-hosting-provider/bindings/types.ts
  crates/moss-git-hosting-provider/bindings/types.zod.ts
  crates/moss-git-hosting-provider/src/common.rs
  crates/moss-git-hosting-provider/src/github/client.rs
  crates/moss-git-hosting-provider/src/github/response.rs
  crates/moss-git-hosting-provider/src/gitlab/client.rs
  crates/moss-git-hosting-provider/src/gitlab/response.rs
  crates/moss-git-hosting-provider/src/lib.rs
  crates/moss-git-hosting-provider/src/models/types.rs
  crates/moss-git/Cargo.toml
  crates/moss-git/bindings/types.ts
  crates/moss-git/bindings/types.zod.ts
  crates/moss-git/index.ts
  crates/moss-git/package.json
  crates/moss-git/src/lib.rs
  crates/moss-git/src/models.rs
  crates/moss-git/src/models/types.rs
  crates/moss-git/src/repo.rs
  crates/moss-git/tsconfig.json
  crates/moss-workspace/bindings/events.ts
  crates/moss-workspace/bindings/events.zod.ts
  crates/moss-workspace/bindings/operations.ts
  crates/moss-workspace/bindings/operations.zod.ts
  crates/moss-workspace/bindings/types.ts
  crates/moss-workspace/bindings/types.zod.ts
  crates/moss-workspace/src/api.rs
  crates/moss-workspace/src/api/describe_collection.rs
  crates/moss-workspace/src/api/stream_collections.rs
  crates/moss-workspace/src/builder.rs
  crates/moss-workspace/src/models/events.rs
  crates/moss-workspace/src/models/operations.rs
  crates/moss-workspace/src/models/types.rs
  crates/moss-workspace/src/services/collection_service.rs
  crates/moss-workspace/src/workspace.rs
  crates/moss-workspace/tests/workspace__describe_collection.rs
  pnpm-lock.yaml
  view/desktop/bin/src/commands/workspace.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/lib/backend/tauri.ts
Labels: makefile, bindings

#332 devops(SAPIC-479) PoC for application build
  Cargo.toml
  Makefile
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/lib.rs
  view/desktop/bin/tauri.conf.json
  view/desktop/package.json
  view/desktop/vite.config.ts
Labels: makefile
